Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json

refactor(admin): 重构作者管理页面
  packages/admin/src/types/components.d.ts
  packages/admin/src/utils/formOptionsToFilterOptions.ts
  packages/admin/src/views/content-manage/author/shared.ts
  packages/server-nestjs/prisma/models/work/work-author.prisma
  packages/server-nestjs/src/modules/admin/request-log/request-log.service.ts
  packages/server-nestjs/src/modules/admin/work/author/author.service.ts
Due: admin_jon

refactor(admin): 更新 API 接口定义和实现
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/content-manage/author/shared.ts
  packages/admin/src/views/system-manage/request-log/login-log/shared.ts
  packages/admin/src/views/system-manage/request-log/operation-log/shared.ts
  packages/att/src/generateTypes.ts
Due: admin_jon

refactor(admin): 更新 API 文档和类型定义
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/server-nestjs/src/common/decorators/validate/validate-number-array.ts
Due: admin_jon

fix(admin): 优化数据字典处理逻辑
  packages/admin/src/hooks/useForm.ts
Due: admin_jon

refactor(admin): 更新 API 接口定义和实现
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/hooks/useBitmask.ts
  packages/admin/src/views/content-manage/author/index.vue
  packages/admin/src/views/content-manage/author/shared.ts
  packages/server-nestjs/src/modules/admin/work/author/author.controller.ts
  packages/server-nestjs/src/modules/admin/work/author/dto/author.dto.ts
Due: admin_jon

refactor(admin): 重构作者详情页面
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/components/es-table/EsTable.vue
  packages/admin/src/components/es-upload/EsUpload.vue
  packages/admin/src/hooks/useDataDict.ts
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/views/content-manage/author/AuthorDetail.vue
  packages/admin/src/views/content-manage/author/index.vue
  packages/admin/src/views/content-manage/author/shared.ts
  packages/server-nestjs/src/common/services/upload.service.ts
Due: admin_jon

feat(server-nestjs): 重构漫画数据模型
  packages/admin/src/components/es-upload/EsUpload.vue
  packages/admin/src/views/content-manage/author/AuthorDetail.vue
  packages/server-nestjs/prisma/models/work/work-author.prisma
  packages/server-nestjs/prisma/models/work/work-category.prisma
  packages/server-nestjs/prisma/models/work/work-comic-author.prisma
  packages/server-nestjs/prisma/models/work/work-comic-category.prisma
  packages/server-nestjs/prisma/models/work/work-comic-chapter.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
Due: admin_jon

refactor(admin): 重构作者详情页面布局和样式
  packages/admin/src/components/es-dynamic-field-pair/EsDynamicFieldPair.vue
  packages/admin/src/components/es-form/EsForm.vue
  packages/admin/src/views/content-manage/author/AuthorDetail.vue
  packages/admin/src/views/content-manage/author/index.vue
  packages/admin/src/views/content-manage/author/shared.ts
  packages/server-nestjs/package.json
Due: admin_jon

refactor(admin): 重构分类管理页面
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/views/content-manage/classify-manage/index.vue
  packages/server-nestjs/src/modules/admin/work/category/category.controller.ts
Due: admin_jon

refactor(admin): 重构分类管理页面
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/utils/formOptionsToFilterOptions.ts
  packages/admin/src/views/content-manage/author/shared.ts
  packages/admin/src/views/content-manage/classify-manage/index.vue
  packages/admin/src/views/content-manage/classify-manage/shared.ts
  packages/server-nestjs/prisma/models/work/work-author.prisma
  packages/server-nestjs/prisma/models/work/work-category.prisma
Due: admin_jon

feat(server): 添加漫画管理功能- 新增漫画管理模块，包括漫画基本信息管理、发布状态管理、推荐状态管理等 - 添加漫画分类管理功能 - 优化分类管理界面，增加状态切换和删除操作 - 引入 Element Plus 新增组件
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/content-manage/classify-manage/index.vue
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/modules/admin/work/comic/README.md
  packages/server-nestjs/src/modules/admin/work/comic/comic.constant.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.module.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
  packages/server-nestjs/src/modules/admin/work/work.module.ts
Due: admin_jon

feat(server-nestjs): 添加用户相关数据库模型和视图
  packages/server-nestjs/package.json
  packages/server-nestjs/prisma/models/client/client-user-points.prisma
  packages/server-nestjs/prisma/models/client/client-user-profile.prisma
  packages/server-nestjs/prisma/models/client/client-user-tags.prisma
  packages/server-nestjs/prisma/models/client/client-user-views.prisma
  packages/server-nestjs/prisma/models/client/client-user.prisma
  packages/server-nestjs/prisma/models/work/work-comic-chapter.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/common/dto/status.dto.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/README.md
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.constant.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.module.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.service.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/dto/comic-chapter.dto.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
  packages/server-nestjs/src/modules/admin/work/work.module.ts
Due: none

refactor(server-nestjs): 重构漫画章节相关代码
  packages/server-nestjs/prisma/models/client/client-user-points.prisma
  packages/server-nestjs/prisma/models/client/client-user-profile.prisma
  packages/server-nestjs/prisma/models/client/client-user-tags.prisma
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.service.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/dto/comic-chapter.dto.ts
  packages/server-nestjs/src/modules/admin/work/work.module.ts
Due: none

refactor(server-nestjs): 移除漫画相关冗余代码
  packages/server-nestjs/src/global/services/base-repository.service.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.constant.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.module.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
Due: none

refactor(server-nestjs): 移除漫画章节控制器中的冗余方法
  packages/server-nestjs/src/modules/admin/work/comic-chapter/comic-chapter.controller.ts
Due: none

refactor(server-nestjs):精简 ClientUser 模型结构
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/comic-chapter.ts
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/comic-chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/views/content-manage/comic-manage/index.vue
  packages/admin/src/views/content-manage/comic-manage/shared.ts
  packages/server-nestjs/prisma/models/client/client-user-points.prisma
  packages/server-nestjs/prisma/models/client/client-user-profile.prisma
  packages/server-nestjs/prisma/models/client/client-user-views.prisma
  packages/server-nestjs/prisma/models/client/client-user.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
Due: admin_jon

refactor(admin): 优化代码结构和类型定义
  packages/admin/src/components/es-table/EsTable.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/hooks/useDataDict.ts
  packages/admin/src/views/content-manage/author/index.vue
  packages/admin/src/views/content-manage/classify-manage/shared.ts
Due: admin_jon

refactor(admin): 更新 API 文档并调整 ESLint 配置
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/comic-chapter.ts
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/comic-chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
Due: admin_jon

refactor(admin): 漫画功能调整
  packages/admin/src/views/content-manage/comic-manage/index.vue
  packages/server-nestjs/src/modules/admin/work/comic/README.md
  packages/server-nestjs/src/modules/admin/work/comic/comic.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
Due: admin_jon

refactor(admin): 更新 API 类型定义和数据库配置
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/comic-chapter.ts
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/comic-chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/content-manage/comic-manage/index.vue
  packages/admin/src/views/system-manage/data-dict/shared.ts
  packages/server-nestjs/.env
  packages/server-nestjs/src/global/services/prisma.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/query-dictionary.dto.ts
  packages/server-nestjs/src/prisma/seed/index.ts
Due: admin_jon

refactor(admin): 重构漫画管理功能
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/utils/formOptionsToTableColumn.ts
  packages/admin/src/views/content-manage/comic-manage/shared.ts
  packages/server-nestjs/prisma/models/work/work-comic-chapter.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
Due: admin_jon

refactor(comic): 优化漫画列表查询性能
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
Due: none

refactor(admin): 漫画功能调整
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/comic-chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/content-manage/author/shared.ts
  packages/admin/src/views/content-manage/classify/index.vue
  packages/admin/src/views/content-manage/classify/shared.ts
  packages/admin/src/views/content-manage/comic/Chapter.vue
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
  packages/admin/src/views/content-manage/comic/Content.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
Due: admin_jon

refactor(admin): 漫画功能调整
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/comic-chapter.ts
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/comic-chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
Due: admin_jon

refactor(admin): 漫画功能调整
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/client-page.ts
  packages/admin/src/apis/comic-chapter.ts
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/notice.ts
  packages/admin/src/apis/request-log.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/client-page.d.ts
  packages/admin/src/apis/types/comic-chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/notice.d.ts
  packages/admin/src/apis/types/request-log.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/att/src/formatSchema.ts
  packages/att/src/generateTypes.ts
Due: admin_jon

refactor(admin): 漫画功能调整
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared.ts
  packages/server-nestjs/prisma/models/work/work-comic-chapter.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/common/decorators/validate/types.ts
  packages/server-nestjs/src/common/decorators/validate/validate-date.ts
  packages/server-nestjs/src/modules/admin/work/comic/comic.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
Due: admin_jon

refactor(admin): 优化表格列配置和生成逻辑
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/utils/formOptionsToTableColumn.ts
  packages/admin/src/views/content-manage/author/index.vue
  packages/admin/src/views/content-manage/author/shared.ts
  packages/server-nestjs/package.json
  pnpm-lock.yaml
Due: admin_jon

refactor(admin): 优化 EsTable 组件和相关工具函数
  packages/admin/src/components/es-table/EsTable.vue
  packages/admin/src/utils/formOptionsToTableColumn.ts
  packages/admin/src/views/content-manage/comic/shared.ts
Due: admin_jon

refactor(comic): 重构漫画详情页面
  packages/admin/src/layouts/components/layoutSubMenu.vue
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/unocss.config.ts
Due: admin_jon

refactor(admin): 重构详情页面布局和样式
  packages/admin/src/styles/design-system.md
  packages/admin/src/views/content-manage/author/AuthorDetail.vue
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/system-manage/profile/index.vue
  packages/admin/src/views/system-manage/server-status/index.vue
  packages/admin/unocss.config.ts
Due: admin_jon

refactor(admin): 重构漫画和作者详情页面样式
  packages/admin/src/views/content-manage/author/AuthorDetail.vue
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
Due: admin_jon

refactor(admin): 重构作者和漫画详情页面样式
  packages/admin/package.json
  packages/admin/src/styles/design-system.md
  packages/admin/src/views/content-manage/author/AuthorDetail.vue
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
  packages/admin/unocss.config.ts
Due: admin_jon

refactor(admin): 重构个人资料页面布局和样式
  packages/admin/src/views/system-manage/profile/index.vue
  packages/admin/src/views/system-manage/request-log/login-log/index.vue
  packages/admin/src/views/system-manage/request-log/login-log/shared.ts
  packages/admin/src/views/system-manage/request-log/operation-log/shared.ts
Due: admin_jon

feat(server-nestjs): 在请求日志中添加管理员登录用户名- 在 request-log.interceptor.ts 文件中添加逻辑，用于捕获管理员登录请求的用户名 - 通过检查请求 URL，确定是否为管理员登录请求 - 如果是管理员登录请求，从请求体中提取用户名并记录
  packages/server-nestjs/src/modules/admin/request-log/interceptors/request-log.interceptor.ts
Due: none

feat(server-nestjs): 添加漫画版本管理功能
  packages/server-nestjs/prisma/models/work/work-comic-chapter.prisma
  packages/server-nestjs/prisma/models/work/work-comic-version.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/modules/admin/work/comic/dto/comic.dto.ts
  packages/server/src/basic/service/config.service.ts
  pnpm-lock.yaml
Due: server_jon

feat(server-nestjs): 添加作者和漫画种子数据并更新相关模型
  packages/server-nestjs/package.json
  packages/server-nestjs/prisma/models/work/work-comic-version.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/modules/admin/request-log/interceptors/request-log.interceptor.ts
  packages/server-nestjs/src/prisma/seed/author.ts
  packages/server-nestjs/src/prisma/seed/comic.ts
  packages/server-nestjs/src/prisma/seed/index.ts
  pnpm-lock.yaml
Due: none

refactor(server-nestjs):移除漫画种子数据更新逻辑- 删除了 comic.seed.ts 文件中的更新逻辑 - 优化了漫画详情页面的样式和布局 - 调整了数据统计与权重部分的样式 - 优化了时间信息的显示格式
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
  packages/server-nestjs/src/prisma/seed/comic.ts
Due: admin_jon

refactor(border): 优化边框样式和功能
  packages/admin/src/components/es-modal/EsModal.vue
  packages/admin/src/layouts/components/layoutHeader.vue
  packages/admin/src/layouts/components/layoutTabs.vue
  packages/admin/unocss.config.ts
Due: admin_jon
