Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json

feat: 完善用户管理功能
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/modal/ModalForm.vue
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/systemMgmt/userMgmt/Shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/server/src/modules/internal/log/log.service.ts
Due: admin_jon, server_jon

feat: 升级依赖版本
  package.json
  packages/admin/package.json
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/router/routes.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/RecordDetails.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/client/package.json
  packages/server/package.json
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

perf: client 完善组件库配置
  .eslintrc-auto-import.json
  packages/client/src/components/libs/typings/components.ts
  packages/client/src/components/libs/typings/config.ts
  packages/client/src/components/libs/typings/hooks.ts
  packages/client/src/components/libs/utils/modal.ts
  packages/client/src/components/libs/utils/pagesJson.ts
  packages/client/tsconfig.json
  pnpm-lock.yaml
Due: client_jon

perf: client 完善组件库配置
  packages/client/src/components/libs/index.ts
  packages/client/src/components/libs/typings/config.ts
  packages/client/src/config/router.config.ts
  packages/client/src/main.ts
Due: client_jon

feat: client 调整依赖库
  packages/client/src/components/libs/config/config.default.ts
  packages/client/src/components/libs/hooks/useConfig.ts
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/typings/components.ts
  packages/client/src/components/libs/typings/config.ts
  packages/client/src/components/libs/utils/pagesJson.ts
  packages/client/stats.html
Due: client_jon

feat: client 完善路由相关
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/typings/index.ts
  packages/client/src/components/libs/utils/pagesJson.ts
  packages/client/src/env.d.ts
  packages/client/src/main.ts
  packages/client/src/pages.json
  packages/client/src/typings/auto-import.d.ts
  packages/client/stats.html
  packages/client/tsconfig.json
  packages/client/vite.config.ts
  pnpm-lock.yaml
Due: client_jon

feat: client 细节调整
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/typings/index.ts
  packages/client/src/env.d.ts
Due: client_jon

feat: client 细节调整
  packages/client/src/typings/auto-import.d.ts
Due: client_jon

feat: client 细节调整
  packages/client/package.json
  packages/client/src/env.d.ts
  packages/client/src/main.ts
  packages/client/tsconfig.json
  pnpm-lock.yaml
Due: client_jon

feat: admin 调整组件库名称
  .eslintrc-auto-import.json
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/components/es-pop-confirm/es-pop-confirm.vue
  packages/admin/src/components/es-preview-image/es-preview-image.vue
  packages/admin/src/components/es-switch/es-switch.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/layouts/components/LayoutSubMenu.vue
  packages/admin/src/layouts/components/LayoutTabs.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/RecordDetails.vue
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/Shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/Shared.ts
  packages/admin/src/views/systemMgmt/profile/ProfilePage.vue
  packages/admin/src/views/systemMgmt/userMgmt/Shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/client/src/pages.json
  packages/client/src/pages/index/index.vue
  packages/client/stats.html
Due: admin_jon, client_jon

feat: admin 日志模块调整
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/LoginLogsPage.vue
Due: admin_jon

feat: admin 日志模块调整
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/Shared.ts
Due: admin_jon

feat: admin 日志模块调整
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
Due: admin_jon

perf: client 细节调整
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
Due: admin_jon

feat: admin useRequest调整
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
Due: admin_jon

feat: 依赖升级
  .husky/.gitignore
  .husky/commit-msg
  .husky/pre-commit
  packages/admin/package.json
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/apifox-to-typescript/package.json
  packages/client/package.json
  packages/server/.env
  packages/server/package.json
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: 依赖升级
  packages/admin/package.json
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/client/package.json
  packages/client/src/typings/auto-import.d.ts
  packages/client/vite.config.ts
  packages/client/vite/plugins/index.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon

feat: 类型调整
  packages/admin/src/typings/components.d.ts
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/env.d.ts
Due: admin_jon, client_jon

perf: server调整
  config/config.default.ts
  packages/basic-config/package.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/server/package.json
  packages/server/prisma/schema.prisma
  packages/server/src/basic/dto/basic.dto.ts
  packages/server/src/config/config.default.ts
  packages/server/src/config/modules/upload.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/modules/admin/funPlugin/dto/funPlugin.dto.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.service.ts
  packages/server/src/modules/internal/config/config.service.ts
  packages/server/tsconfig.json
  packages/utils/src/getPublicConfig.ts
  pnpm-lock.yaml
Due: client_jon, server_jon

feat: server开发环境调整
  packages/server/package.json
  packages/server/prisma/seed.d.ts
  packages/server/prisma/seed.js
  packages/server/tsconfig.json
Due: server_jon

perf: 项目配置调整
  config/config.default.d.ts
  config/config.default.js
  config/config.default.ts
  config/config.project.json
  packages/server/src/config/config.default.ts
  packages/server/src/config/modules/upload.ts
  packages/server/src/core/autoload.core.ts
  packages/utils/src/getProjectConfig.ts
  packages/utils/src/getPublicConfig.ts
  packages/utils/src/index.ts
Due: server_jon

perf: 项目配置调整
  packages/server/src/core/autoload.core.ts
Due: server_jon

feat: server开发环境调整
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/config/index.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/login/LoginPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/OperationLogsPage.vue
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/utils/src/getProjectConfig.ts
Due: admin_jon, server_jon

feat: server开发环境调整
  packages/admin/src/apis/funPlugin.d.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/config/index.ts
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/router/modules/marketing.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/marketing/funPlugin/FunPluginPage.vue
  packages/admin/src/views/marketing/funPlugin/Shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/admin/unocss.config.ts
  packages/apifox-to-typescript/src/generate.ts
  packages/server/prisma/schema.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/modules/admin/common/upload/upload.service.ts
  packages/server/src/modules/admin/funPlugin/dto/funPlugin.dto.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/server/src/prisma/utils/errorMessage.ts
  packages/typings/src/index.d.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: admin插件管理
  packages/admin/src/apis/funPlugin.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/marketing/funPlugin/FunPluginPage.vue
Due: admin_jon

feat: amdin插件管理
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-pop-confirm/es-pop-confirm.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/marketing/funPlugin/FunPluginPage.vue
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
Due: admin_jon, server_jon

feat: client图标组件
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/components/libs/config/config.default.ts
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/utils/iconify.ts
  packages/client/src/pages/index/index.vue
  packages/client/src/static/icons/MajesticonsAirplaneLine.svg
  packages/client/stats.html
  packages/client/vite.config.ts
Due: client_jon

feat: client图标组件
  packages/client/package.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/stats.html
  packages/client/unocss.config.ts
  packages/typings/src/index.d.ts
  pnpm-lock.yaml
Due: client_jon

feat: client组件自动导入调整
  packages/client/.npmrc
  packages/client/package.json
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/manifest.json
  packages/client/src/pages/index/index.vue
  packages/client/src/typings/components.d.ts
  packages/client/stats.html
  packages/client/vite/plugins/components.ts
  packages/client/vite/plugins/index.ts
  pnpm-lock.yaml
Due: client_jon

feat: client基础补充
  packages/client/src/components/es-page/es-page.vue
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/typings/hooks.ts
  packages/client/src/pages.json
  packages/client/src/pages/index/index.vue
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/pages/tabBar/dynamic/dynamic.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/src/pages/tabBar/profile/profile.vue
  packages/client/src/static/tabBar/dynamic-active.png
  packages/client/src/static/tabBar/dynamic.png
  packages/client/src/static/tabBar/home-active.png
  packages/client/src/static/tabBar/home.png
  packages/client/src/static/tabBar/profile-active.png
  packages/client/src/static/tabBar/profile.png
  packages/client/src/typings/components.d.ts
  packages/client/stats.html
  packages/client/vite/plugins/components.ts
  packages/client/vite/plugins/index.ts
Due: client_jon

feat: api生成工具调整
  packages/admin/src/apis/funPlugin.d.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/system.d.ts
  packages/admin/src/apis/system.ts
  packages/att/src/apis/funPlugin.d.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/utils.ts
  packages/client/src/apis/dictionary.d.ts
  packages/client/src/apis/dictionary.ts
  packages/client/src/apis/funPlugin.d.ts
  packages/client/src/apis/funPlugin.ts
  packages/client/src/apis/logs.d.ts
  packages/client/src/apis/logs.ts
  packages/client/src/apis/user.d.ts
  packages/client/src/apis/user.ts
  packages/client/src/pages/plugins/plugins.vue
  packages/server/src/modules/client/funPlugin/dto/funPlugin.dto.ts
  packages/server/src/modules/client/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/client/funPlugin/funPlugin.service.ts
Due: admin_jon, client_jon, server_jon

feat: 错误字段调整
  packages/att/src/utils.ts
  packages/client/.env.development
  packages/client/src/apis/captcha.ts
  packages/client/src/apis/funPlugin.ts
  packages/client/src/apis/logs.ts
  packages/client/src/apis/upload.ts
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/utils/request.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/typings/src/index.d.ts
Due: client_jon, server_jon

feat: server鉴权机制调整
  packages/client/src/utils/request.ts
  packages/server/prisma/schema.prisma
  packages/server/src/configuration.ts
  packages/server/src/decorator/auth.decorator.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/user/user.controller.ts
Due: client_jon, server_jon

feat: server鉴权机制调整
  packages/server/src/basic/service/decorator.service.ts
  packages/server/src/configuration.ts
  packages/server/src/prisma/index.ts
Due: server_jon

feat: client完善基本组件
  packages/client/.env.development
  packages/client/.eslintrc-auto-import.json
  packages/client/src/apis/funPlugin.d.ts
  packages/client/src/apis/funPlugin.ts
  packages/client/src/components/es-card/es-card.vue
  packages/client/src/components/es-empty/es-empty.vue
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/components/es-page/es-page.vue
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/components/libs/config/config.default.ts
  packages/client/src/components/libs/typings/config.ts
  packages/client/src/core/bootstrap.ts
  packages/client/src/hooks/useRequest.ts
  packages/client/src/main.ts
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/static/icons/MajesticonsAirplaneLine.svg
  packages/client/src/static/icons/empty.svg
  packages/client/src/typings/auto-import.d.ts
  packages/client/src/typings/components.d.ts
  packages/client/src/utils/filePath.ts
  packages/client/vite/proxy.ts
  packages/server/prisma/schema.prisma
  packages/server/src/config/modules/jwt.ts
  packages/server/src/decorator/auth.decorator.ts
  packages/server/src/decorator/get.decorator.ts
  packages/server/src/interface.ts
  packages/server/src/modules/client/funPlugin/funPlugin.controller.ts
  packages/typings/src/index.d.ts
Due: client_jon, server_jon

feat: client完善基础组件
  packages/client/.env.development
  packages/client/src/components/es-empty/es-empty.vue
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/components/libs/index.ts
  packages/client/src/hooks/useRequest.ts
  packages/client/src/hooks/useRouter.ts
  packages/client/src/main.ts
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/pages/tabBar/dynamic/dynamic.vue
  packages/client/src/typings/components.d.ts
  packages/client/src/utils/request.ts
  packages/client/src/vite-env.d.ts
  packages/client/stats.html
  packages/client/vite/proxy.ts
Due: client_jon
