Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat: 多对多删除逻辑
  packages/server/prisma/seed.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/service/adminUser/user.service.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/server/prisma/schema/admin/sys_log.prisma
  packages/server/prisma/schema/admin/sys_user.prisma
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/prisma/schema/app/app_user.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/dictionary.prisma
  packages/server/src/service/adminUser/user.service.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/adminUser/user.service.ts
Due: admin_jon, server_jon

feat: apis
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
Due: admin_jon

feat: apis
  packages/server/prisma/schema/admin/sys_log.prisma
  packages/server/prisma/schema/admin/sys_user.prisma
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
Due: server_jon

feat: 多对多删除逻辑
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
Due: server_jon

feat: app通知调整
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/service/appMgmt/appNotice.service.ts
  packages/server/src/utils/validate.ts
Due: server_jon

feat: app通知调整
  packages/admin/src/apis/types/appNotice.d.ts
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/components/es-switch/es-switch.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/content/permissions.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/service/adminUser/user.service.ts
  packages/server/src/service/contentMgmt/comic.service.ts
Due: admin_jon, server_jon

feat: app通知调整
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

feat: att调整
  packages/admin/src/apis/appNotification.ts
  packages/admin/src/apis/types/appNotification.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/att/src/apis/appManage.ts
  packages/att/src/apis/appNotice.ts
  packages/att/src/apis/appNotification.ts
  packages/att/src/apis/appPageConfig.ts
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/thirdParty.ts
  packages/att/src/apis/types/appManage.d.ts
  packages/att/src/apis/types/appNotice.d.ts
  packages/att/src/apis/types/appNotification.d.ts
  packages/att/src/apis/types/appPageConfig.d.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/apis/types/dictionary.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/thirdParty.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatSchema.ts
  packages/att/src/generateTypes.ts
  pnpm-lock.yaml
Due: admin_jon

feat: att调整
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

feat: att调整
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/server/prisma/schema/content/permissions.prisma
Due: admin_jon, server_jon

feat: att调整
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server/prisma/schema/content/chapter.prisma
Due: admin_jon, server_jon

feat: att调整
  packages/admin/src/components/es-modal-form/es-modal-form.vue
Due: admin_jon

feat: admin:请求方法调整
  packages/admin/src/hooks/useStorage.ts
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/utils/request/request.ts
  packages/admin/src/utils/request/types.ts
  packages/server/prisma/schema/content/content.prisma
Due: admin_jon, server_jon

feat: admin:请求方法调整
  packages/admin/src/components/es-checkbox/es-checkbox.vue
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/types/src/index.d.ts
  packages/utils/src/deepCopy.ts
  packages/utils/src/index.ts
Due: admin_jon

feat: admin:请求方法调整
  packages/admin/src/components/es-form/es-form.vue
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
Due: admin_jon, server_jon

feat: admin:请求方法调整
  packages/server/prisma/schema/admin/sys_user.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/dictionary.prisma
  packages/server/src/basic/dto/basic.dto.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
Due: server_jon

feat: admin:请求方法调整
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server/prisma/schema/dictionary.prisma
Due: admin_jon, server_jon

feat: admin:请求方法调整
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

feat: server:内容章节列表
  packages/admin/src/types/auto-import.d.ts
  packages/server/prisma/schema/content/chapter.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/content/novel.prisma
  packages/server/prisma/seed.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/work/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/work/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
  packages/server/src/service/contentMgmt/comic.service.ts
  packages/server/src/service/log/operateLog.service.ts
Due: admin_jon, server_jon

feat: server:内容章节列表
  packages/admin/src/types/auto-import.d.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
Due: admin_jon, server_jon

feat: server:内容章节列表
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/work/comic.controller.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
  packages/server/src/service/contentMgmt/comic.service.ts
Due: admin_jon, server_jon

feat: server:内容章节列表
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
Due: admin_jon

feat: server:内容章节列表
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
Due: admin_jon

feat: server上传组件调整
  packages/server/public/comic/1/1/0f230359-8f73-44f5-82d1-188d81fe8b65.png
  packages/server/public/comic/1/1/98cd5db8-d128-48e8-8919-30bc56b41c37.png
  packages/server/public/comic/1/1/微信截图_20241209095818.png
  packages/server/public/files/20241209/0f230359-8f73-44f5-82d1-188d81fe8b65.png
  packages/server/public/files/20241209/98cd5db8-d128-48e8-8919-30bc56b41c37.png
  packages/server/public/files/20241209/微信截图_20241209095818.png
  packages/server/public/微信截图_20241209095818.png
Due: server_jon

feat: server上传组件调整
  packages/server/src/service/common/upload.service.ts
Due: server_jon

feat: server上传组件调整
  packages/admin/src/hooks/useUpload.ts
  packages/server/public/comic/1/1/0f230359-8f73-44f5-82d1-188d81fe8b65.comic.1.1.png
  packages/server/public/comic/1/1/98cd5db8-d128-48e8-8919-30bc56b41c37.comic.1.1.png
  packages/server/public/comic/1/1/微信截图_20241209095818.comic.1.1.png
  packages/server/src/config/config.default.ts
  packages/server/src/config/modules/jwt.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/service/common/upload.service.ts
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/server/public/files/other/20241210/98cd5db8-d128-48e8-8919-30bc56b41c37.png
  packages/server/src/service/common/upload.service.ts
  src/types/auto-import.d.ts
Due: server_jon

feat: 上传调整
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/prisma/schema/content/chapter.prisma
  packages/server/public/files/other/20241210/MPV-00_15_31.013-N0001.png
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
Due: admin_jon, server_jon

feat: 上传调整
  packages/server/prisma/schema/work/author.prisma
  packages/server/prisma/schema/work/category.prisma
  packages/server/prisma/schema/work/chapter.prisma
  packages/server/prisma/schema/work/comic.prisma
  packages/server/prisma/schema/work/novel.prisma
  packages/server/prisma/schema/work/permissions.prisma
Due: server_jon

feat: server上传组件调整
  packages/server/prisma/schema/work/author.prisma
  packages/server/prisma/schema/work/category.prisma
  packages/server/prisma/schema/work/chapter.prisma
  packages/server/prisma/schema/work/comic.prisma
  packages/server/prisma/schema/work/permissions.prisma
Due: server_jon

feat: server上传组件调整
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/server/prisma/schema/work/category.prisma
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/admin/src/apis/types/category.d.ts
  packages/server/prisma/schema/work/chapter.prisma
  packages/server/prisma/schema/work/comic.prisma
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/server/prisma/schema/work/chapter.prisma
  packages/server/prisma/schema/work/comic.prisma
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/service/contentMgmt/comic/comic.service.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
Due: server_jon

feat: server上传组件调整
  packages/server/prisma/schema/dictionary.prisma
  packages/server/prisma/schema/work/category.prisma
  packages/server/prisma/schema/work/chapter.prisma
  packages/server/prisma/schema/work/comic.prisma
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/dto/content.dto.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
  packages/server/src/service/dataDictionary/dictionary-items.service.ts
Due: server_jon

feat: server上传组件调整
  packages/server/prisma/schema/work/comic.prisma
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/dto/content.dto.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
Due: server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
