Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat(comic): 优化漫画搜索功能并调整相关组件样式
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/basic/service/file.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/common/upload.service.ts
  packages/server/src/service/contentMgmt/comic/comic.service.ts
Due: admin_jon, server_jon

refactor(comic): 重构漫画内容管理功能
  packages/admin/src/apis/content.ts
  packages/admin/src/apis/types/content.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/prisma/schema/work/author.prisma
  packages/server/prisma/schema/work/category.prisma
  packages/server/prisma/schema/work/chapter.prisma
  packages/server/prisma/schema/work/comic.prisma
  packages/server/prisma/schema/work/permissions.prisma
  packages/server/src/basic/service/file.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/dto/content.dto.ts
  packages/server/src/service/contentMgmt/comic/comic.service.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
  packages/server/src/service/thirdParty/thirdParty.service.ts
  packages/server/src/typings/prisma.d.ts
Due: admin_jon, server_jon

build(server): 升级 Prisma 到 6.7.0 版本
  .gitignore
  packages/server/package.json
  packages/server/prisma/schema/main.prisma
  pnpm-lock.yaml
Due: server_jon

feat(server): 更新 Prisma 客户端配置和依赖
  packages/server/package.json
  packages/server/prisma/schema/main.prisma
  packages/server/src/prisma/extends/result.ts
  packages/server/src/prisma/index.ts
  pnpm-lock.yaml
Due: server_jon

refactor(server): 重构 Prisma 相关代码
  package.json
  packages/admin/package.json
  packages/app/package.json
  packages/att/package.json
  packages/server/package.json
  packages/server/prisma/schema/main.prisma
  packages/server/src/configuration.ts
  packages/server/src/prisma/extends/index.ts
  packages/server/src/prisma/extends/timeZoneExtends.ts
  packages/server/src/prisma/register.ts
  packages/server/src/prisma/seed.ts
  packages/utils/package.json
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

refactor(server): 重构 Prisma 错误处理逻辑
  packages/server/package.json
  packages/server/src/filter/exception.filter.ts
  packages/server/src/filter/prismaErrorMapping.ts
Due: server_jon

refactor(service): 重构服务层目录结构和命名
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/admin/appManage/appConfig/appConfig.controller.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/modules/admin/appManage/appPage/appPage.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/category/categoru.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/operateLog/operateLog.controller.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.controller.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/app/appManage/appManage.controller.ts
  packages/server/src/modules/app/user/user.controller.ts
  packages/server/src/modules/common/upload/upload.controller.ts
  packages/server/src/modules/open/captcha/captcha.controller.ts
  packages/server/src/prisma/main.prisma
  packages/server/src/service/admin/user/adminUser.service.ts
  packages/server/src/service/app/user/user.service.ts
  packages/server/src/service/appMgmt/appConfig.service.ts
  packages/server/src/service/appOperations/config/appConfig.service.ts
  packages/server/src/service/appOperations/notice/appNotice.service.ts
  packages/server/src/service/appOperations/pages/appPage.service.ts
  packages/server/src/service/contentMgmt/category.service.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
  packages/server/src/service/contentMgmt/comic/comic.service.ts
  packages/server/src/service/system/captcha/captcha.service.ts
  packages/server/src/service/system/dataDictionary/dictionary-items.service.ts
  packages/server/src/service/system/dataDictionary/dictionary.service.ts
  packages/server/src/service/system/requestLog/systemRequestLog.service.ts
  packages/server/src/service/system/upload/upload.service.ts
  packages/server/src/service/thirdParty/libs/copy.service.ts
  packages/server/src/service/thirdParty/thirdParty.service.ts
Due: server_jon

refactor(service): 重构服务层目录结构和命名
  packages/server/src/service/admin/thirdPartyResource/libs/copy.service.ts
  packages/server/src/service/admin/thirdPartyResource/thirdParty.service.ts
  packages/server/src/service/work/author/author.service.ts
  packages/server/src/service/work/category/category.service.ts
  packages/server/src/service/work/comic/chapter.service.ts
  packages/server/src/service/work/comic/comic.service.ts
Due: server_jon

refactor(server): 重构漫画章节相关代码
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/service/work/comic/chapter.service.ts
Due: server_jon

refactor(server): 重构漫画章节列表接口
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/service/work/comic/chapter.service.ts
Due: server_jon

refactor(server): 修改漫画章节列表接口返回数据结构
  packages/server/src/service/work/comic/chapter.service.ts
Due: server_jon

refactor(comic): 重构漫画章节相关功能
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/service/work/comic/chapter.service.ts
Due: server_jon

refactor(admin): 优化作者管理接口并调整漫画章节相关接口- 更新作者管理接口，将字符串类型的 pageIndex 和 pageSize 改为 number 类型 - 修改作者状态字段为 boolean 类型 -调整漫画章节接口路径 - 优化章节内容处理，使用 JSON.stringify 序列化内容 - 更新数据库模型，调整字段命名和类型 - 移除未使用的组件引用
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/server/src/prisma/main.prisma
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/prisma/models/work/permissions.prisma
  packages/server/src/service/work/comic/chapter.service.ts
Due: admin_jon, server_jon

build(server): 重构数据库初始化流程
  packages/server/package.json
  packages/server/src/prisma/seed.ts
  packages/server/src/prisma/seed/adminUser.ts
  packages/server/src/prisma/seed/dataDictionary.ts
  packages/server/src/prisma/seed/index.ts
Due: server_jon

refactor(work): 调整漫画作品模型和权限关系
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/service/work/comic/comic.service.ts
Due: server_jon

refactor(server): 调整漫画模型并添加索引
  packages/server/package.json
  packages/server/src/prisma/main.prisma
  packages/server/src/prisma/models/work/comic.prisma
  pnpm-lock.yaml
Due: server_jon

feat(server): 添加作品权限功能并初始化作品分类
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server/src/modules/admin/contentMgmt/permissions/dto/permissions.dto.ts
  packages/server/src/modules/admin/contentMgmt/permissions/permissions.controller.ts
  packages/server/src/prisma/main.prisma
  packages/server/src/prisma/models/work/permissions.prisma
  packages/server/src/prisma/seed/index.ts
  packages/server/src/prisma/seed/workCategory.ts
  packages/server/src/service/work/permissions/permissions.service.ts
Due: admin_jon, server_jon

refactor(utils): 更新导入路径为相对路径
  packages/utils/src/index.ts
Due: none

feat(author): 重构作者相关数据结构
  packages/server/public/files/other/20250508/shared/upload_1746669230362.0.4347788340505654.png
  packages/server/public/files/other/20250508/shared/upload_1746669932833.0.5810656335821833.png
  packages/server/public/files/other/20250508/shared/upload_1746671046269.0.9790946371334455.png
  packages/server/public/files/other/20250508/shared/upload_1746671389390.0.38564099435621846.png
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/prisma/main.prisma
  packages/server/src/prisma/models/work/author.prisma
Due: server_jon

feat(author): 重构作者管理功能
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/views/contentMgmt/author/index.vue
  packages/admin/src/views/contentMgmt/author/shared.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/typings/prisma.d.ts
Due: admin_jon, server_jon

refactor(admin): 优化代码结构和类型定义
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/contentMgmt/author/index.vue
Due: admin_jon

fix(admin): 修复查询表单显示逻辑
  packages/admin/src/components/es-toolbar/es-toolbar.vue
Due: admin_jon

refactor(admin): 优化搜索组件和作者管理页面
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/contentMgmt/author/index.vue
Due: admin_jon

feat(comic): 添加漫画权限控制功能
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/modules/admin/contentMgmt/permissions/dto/permissions.dto.ts
  packages/server/src/modules/admin/contentMgmt/permissions/permissions.controller.ts
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/prisma/models/work/permissions.prisma
  packages/server/src/service/work/permissions/permissions.service.ts
Due: admin_jon, server_jon

feat(comic): 添加漫画权限控制功能
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/service/work/comic/comic.service.ts
Due: admin_jon, server_jon

feat(author): 作者管理功能- 新增作者性别、国籍、社交媒体链接等字段 - 添加作者备注信息 - 优化作者列表展示 - 新增章节分页查询接口 - 章节列表增加浏览权限字段- 添加章节备注信息 -优化章节表单组件 - 新增 DynamicFieldPair 组件用于社交媒体链接输入
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/admin/src/components/es-dynamic-field-pair/es-dynamic-field-pair.vue
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/components/es-icon/es-icon.vue
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/author/index.vue
  packages/admin/src/views/contentMgmt/author/shared.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/prisma/models/work/author.prisma
  packages/server/src/prisma/seed/dataDictionary.ts
  packages/server/src/service/work/comic/chapter.service.ts
  packages/server/src/service/work/comic/comic.service.ts
  packages/utils/src/isJson.ts
Due: admin_jon, server_jon

feat(admin): 优化动态字段组件并添加新功能
  packages/admin/src/components/es-dynamic-field-pair/es-dynamic-field-pair.vue
  packages/admin/src/views/contentMgmt/author/shared.ts
Due: admin_jon

refactor(admin): 优化 ES动态字段对的内部逻辑- 移除了不必要的 items 变量，统一使用 innerItems - 简化了模型值的初始化和更新逻辑 - 更新了
  packages/admin/src/components/es-dynamic-field-pair/es-dynamic-field-pair.vue
Due: admin_jon

refactor(author): 移除作者模型中的 GenderEnum 枚举- 删除了 AuthorDTO 中的 GenderEnum 引用 - 将 gender 字段类型从 GenderEnum改为 number - 在 Prisma 模型中，将 GenderEnum 枚举删除，将 gender 字段改为 Int 类型 -这个改动简化了性别字段的处理方式，同时减少了枚举类型的使用
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/prisma/models/work/author.prisma
Due: server_jon

feat(author): 添加作者详情功能并优化作者管理页面
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/components/es-dynamic-field-pair/es-dynamic-field-pair.vue
  packages/admin/src/views/contentMgmt/author/index.vue
  packages/admin/src/views/contentMgmt/author/shared.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
Due: admin_jon, server_jon

build(admin): 升级依赖并优化样式处理
  package.json
  packages/admin/.eslintrc-auto-import.json
  packages/admin/package.json
  packages/admin/src/components/es-dynamic-field-pair/es-dynamic-field-pair.vue
  packages/admin/src/components/es-icon/es-icon.vue
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/author/index.vue
  packages/admin/unocss.config.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

build(dependencies): 更新依赖并调整样式处理
  package.json
  packages/admin/package.json
  packages/admin/src/main.ts
  packages/admin/unocss.config.ts
  packages/app/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: admin_jon, client_jon, server_jon

docs: 新增项目开发规范文档
  .lingma/rules/project_rule.md
Due: none

refactor(admin): 重构作者详情页面布局和样式
  .lingma/rules/project_rule.md
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/author/index.vue
  pnpm-lock.yaml
Due: admin_jon

refactor(comic): 重构漫画相关代码
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/prisma/models/work/category.prisma
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/service/work/comic/comic.service.ts
Due: server_jon

refactor(server): 优化漫画数据更新逻辑
  packages/admin/src/types/components.d.ts
  packages/server/src/service/work/comic/comic.service.ts
Due: admin_jon, server_jon

refactor(server): 重构漫画删除逻辑并优化关联关系
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/service/work/comic/comic.service.ts
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat(server): 优化字典项查询功能并改进数据删除处理- 在 DictionaryItem 模型中添加 onDelete: Cascade，确保父字典删除时级联删除子项 - 重构 getItems 方法，支持批量查询并优化查询性能- 实现结果按字典代码分组，提高前端使用便利性
  packages/server/src/prisma/models/system/dictionary.prisma
  packages/server/src/service/system/dataDictionary/dictionary-items.service.ts
Due: server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
