Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json

chore: 移除未使用的@hey-api/openapi-ts依赖
  packages/app/package.json
Due: none

feat(api): 添加JWT认证API及OpenAPI代码生成器
  package.json
  packages/app/package.json
  packages/app/src/apis/index.ts
  packages/app/src/apis/jwt.ts
  packages/app/src/apis/types/jwt.d.ts
  packages/app/src/utils/openapi-generator.ts
  packages/app/src/utils/request/types.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

refactor(app): 重构 API代码生成逻辑
  .lingma/rules/project_rule.md
  .trae/rules/project_rules.md
  package.json
  packages/app/package.json
  packages/app/src/apis/index.ts
  packages/app/src/apis/indexApi.ts
  packages/app/src/apis/jwt.ts
  packages/app/src/apis/types/indexApi.d.ts
  packages/app/src/apis/types/jwt.d.ts
  packages/app/src/components/es-swiper-indicator/es-swiper-indicator.vue
  packages/app/src/pages.json
  packages/app/src/pages/login/index.vue
  packages/app/src/pages/register/index.vue
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/utils/openapi-generator.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

refactor(app): 重构 es-tabs 组件并优化首页逻辑
  packages/app/package.json
  packages/app/src/components/es-tabs/es-tabs.vue
  packages/app/src/components/es-tabs/types.ts
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/unocss.config.ts
  pnpm-lock.yaml
Due: none

feat(app): 新增文章瀑布流布局并优化轮播图功能- 在首页添加瀑布流布局的文章列表，提高信息展示效率 - 轮播图组件增加箭头导航和遮罩效果，提升用户体验 - 新增右箭头图标并更新相关组件以支持新功能
  packages/app/src/components/es-icons/es-icons.json
  packages/app/src/components/es-list/es-list.vue
  packages/app/src/components/es-swiper/es-swiper.vue
  packages/app/src/components/es-swiper/types.ts
  packages/app/src/components/es-tabs/es-tabs.vue
  packages/app/src/components/es-tag/es-tag.vue
  packages/app/src/components/es-text/es-text.vue
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/static/icons/icon-mapping.ts
Due: none

feat(app): 新增文章瀑布流布局并优化轮播图功能- 在首页添加瀑布流布局的文章列表，提高信息展示效率 - 轮播图组件增加箭头导航和遮罩效果，提升用户体验 - 新增右箭头图标并更新相关组件以支持新功能
  packages/app/src/pages/tabBar/home/index.vue
Due: none

feat(app): 添加新的图标和更新文件路径函数日志输出
  packages/app/src/components/es-icons/es-icons.json
  packages/app/src/env.d.ts
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/static/icons/icon-mapping.ts
  packages/app/src/utils/filePath.ts
Due: none

feat(app): 优化空数据页面展示效果
  packages/app/src/components/es-empty/es-empty.vue
  packages/app/src/components/es-icons/es-icons.json
  packages/app/src/components/es-icons/es-icons.vue
  packages/app/src/components/es-list/es-list.vue
  packages/app/src/components/libs/utils/iconify.ts
  packages/app/src/pages.json
  packages/app/src/pages/tabBar/book-shelf/index.vue
  packages/app/src/pages/tabBar/community/index.vue
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/pages/tabBar/message/index.vue
  packages/app/src/pages/tabBar/profile/index.vue
  packages/app/src/static/icons/empty.svg
  packages/app/src/static/tabBar/bookshelf-active.png
  packages/app/src/static/tabBar/bookshelf.png
  packages/app/src/static/tabBar/community-active.png
  packages/app/src/static/tabBar/community.png
  packages/app/src/static/tabBar/message-active.png
  packages/app/src/static/tabBar/message.png
Due: none

feat(app): 添加消息页面空状态和不同类型消息的 SVG 图标- 新增空消息状态图标 (empty.svg) - 新增评论消息图标 (msg-comment.svg) - 新增关注消息图标 (msg-followed.svg) - 新增私信消息图标 (msg-private.svg)
  packages/app/src/static/icons/message/empty.svg
  packages/app/src/static/icons/message/msg-comment.svg
  packages/app/src/static/icons/message/msg-followed.svg
  packages/app/src/static/icons/message/msg-private.svg
  packages/app/src/static/icons/message/msg-system.svg
Due: none

feat(message): 更新消息页面并添加登录注册功能
  packages/app/src/components/es-icons/es-icons.json
  packages/app/src/components/es-page/es-page.vue
  packages/app/src/components/es-page/types.ts
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/pages/tabBar/message/index.vue
  packages/app/src/static/icons/icon-mapping.ts
  packages/app/src/static/icons/message/msg-news.svg
Due: none

feat(app): 适配安全区域并优化首页
  packages/app/src/components/es-page/es-page.vue
  packages/app/src/components/es-page/types.ts
  packages/app/src/core/launch.ts
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/pages/tabBar/message/index.vue
  packages/app/src/stores/modules/system.ts
  packages/app/src/utils/safeArea.ts
Due: none

feat(app): 优化首页滚动效果和布局
  packages/app/src/components/es-page/es-page.vue
  packages/app/src/components/es-tabs/es-tabs.vue
  packages/app/src/pages/tabBar/home/index.vue
Due: none

feat(waterfall): 新增瀑布流组件并优化首页展示
  packages/app/components.d.ts
  packages/app/src/components/es-tabs/es-tabs.vue
  packages/app/src/components/es-waterfall/es-waterfall.vue
  packages/app/src/components/es-waterfall/index.ts
  packages/app/src/components/es-waterfall/types.ts
  packages/app/src/components/es-waterfall/utils.ts
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/pages/tabBar/message/index.vue
  packages/app/src/types/auto-import.d.ts
Due: none

feat: app项目基础配置调整
  packages/admin/src/components/es-table/EsTable.vue
  packages/app/package.json
  packages/app/src/apis/index.ts
  packages/app/src/apis/indexApi.ts
  packages/app/src/apis/jwt.ts
  packages/app/src/apis/types/indexApi.d.ts
  packages/app/src/apis/types/jwt.d.ts
  packages/app/src/apis/types/user.d.ts
  packages/app/src/apis/user.ts
  packages/app/src/utils/openapi-generator.ts
  packages/app/unocss.config.ts
  pnpm-lock.yaml
Due: admin_jon

feat: app项目基础配置调整
  package.json
  packages/app/package.json
  packages/app/src/components/es-skeleton/es-skeleton.vue
  packages/app/src/components/es-skeleton/types.ts
  packages/app/src/components/es-waterfall/es-waterfall.vue
  packages/app/src/components/es-waterfall/types.ts
  packages/app/src/components/es-waterfall/utils.ts
  packages/app/tsconfig.json
  packages/server/package.json
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: app项目基础配置调整
  packages/app/src/pages/tabBar/home/index.vue
Due: none

feat: app项目基础配置调整
  packages/app/src/components/es-tabs/es-tabs.vue
  packages/app/src/utils/request/interceptor.ts
Due: none

feat: app项目基础配置调整
  packages/app/components.d.ts
  packages/app/src/utils/filePath.ts
Due: none

feat: app项目基础配置调整
  packages/app/components.d.ts
  packages/app/src/components/es-card/es-card.vue
  packages/app/src/components/es-card/index.ts
  packages/app/src/components/es-card/types.ts
  packages/app/src/components/es-loading/es-loading.vue
  packages/app/src/components/es-waterfall/es-waterfall.vue
  packages/app/src/components/es-waterfall/types.ts
  packages/app/src/pages/tabBar/home/index.vue
Due: none

feat(admin): 添加unocss依赖并优化过渡动画性能
  packages/admin/package.json
  packages/admin/src/layouts/components/layoutContent.vue
  packages/admin/src/types/auto-import.d.ts
  packages/app/components.d.ts
  pnpm-lock.yaml
Due: admin_jon

feat(漫画管理): 添加章节和版本详情功能
  packages/admin/src/views/content-manage/comic/Chapter.vue
  packages/admin/src/views/content-manage/comic/Version.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared/chapter.ts
  packages/admin/src/views/content-manage/comic/shared/version.ts
Due: admin_jon

feat(comic): 增加版本筛选功能并优化章节相关逻辑
  packages/admin/src/components/es-table/EsTable.vue
  packages/admin/src/views/content-manage/comic/Chapter.vue
  packages/admin/src/views/content-manage/comic/Version.vue
  packages/admin/src/views/content-manage/comic/shared/chapter.ts
  packages/admin/src/views/content-manage/comic/shared/version.ts
  packages/server-nestjs/src/modules/admin/work/comic/chapter/dto/comic-chapter.dto.ts
Due: admin_jon

feat(comic): 优化漫画管理界面样式和功能
  packages/admin/src/views/content-manage/comic/ComicDetail.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared/comic.ts
  packages/server-nestjs/src/modules/admin/work/comic/core/comic.service.ts
Due: admin_jon

feat(es-table): 为表格列添加options属性支持选项映射
  packages/admin/src/components/es-table/EsTable.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/utils/formOptionsToTableColumn.ts
  packages/admin/src/views/content-manage/comic/index.vue
Due: admin_jon

refactor(comic): 统一将"购买金额"改为"所需积分"并优化批量操作DTO
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/views/content-manage/comic/Version.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared/chapter.ts
  packages/admin/src/views/content-manage/comic/shared/comic.ts
  packages/admin/src/views/content-manage/comic/shared/version.ts
  packages/server-nestjs/prisma/models/work/work-comic-version.prisma
  packages/server-nestjs/prisma/models/work/work-comic.prisma
  packages/server-nestjs/src/common/dto/batch.dto.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/admin/work/author/author.controller.ts
  packages/server-nestjs/src/modules/admin/work/author/author.service.ts
  packages/server-nestjs/src/modules/admin/work/category/category.controller.ts
  packages/server-nestjs/src/modules/admin/work/category/category.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/chapter/dto/comic-chapter.dto.ts
  packages/server-nestjs/src/modules/admin/work/comic/core/dto/comic.dto.ts
  packages/server-nestjs/src/modules/admin/work/comic/version/comic-version.controller.ts
  packages/server-nestjs/src/modules/admin/work/comic/version/comic-version.service.ts
  packages/server-nestjs/src/modules/admin/work/comic/version/dto/comic-version.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
Due: admin_jon, server_jon

style(comic): 优化漫画列表展示效果
  packages/admin/src/components/es-table/EsTable.vue
  packages/admin/src/utils/index.ts
  packages/admin/src/views/content-manage/comic/Chapter.vue
  packages/admin/src/views/content-manage/comic/Version.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared/chapter.ts
  packages/admin/src/views/content-manage/comic/shared/version.ts
Due: admin_jon

style(comic): 优化漫画列表展示效果
  packages/admin/src/views/content-manage/comic/index.vue
Due: admin_jon

feat(comic): 添加漫画试读章节功能并优化详情页展示- 在章节列表中添加试读章节标识 - 优化漫画详情页布局和样式 -调整章节列表的列显示顺序
  packages/admin/src/views/content-manage/comic/Chapter.vue
  packages/admin/src/views/content-manage/comic/index.vue
  packages/admin/src/views/content-manage/comic/shared/chapter.ts
Due: admin_jon

Create README.md
  README.md
Due: none
