Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat: server:查询逻辑调整
  packages/admin/src/views/systemMgmt/dataDictionary/shared.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/prisma/errorMessage.ts
  packages/server/src/prisma/index.ts
  packages/server/src/prisma/modules/exists.ts
  packages/server/src/prisma/modules/find.ts
  packages/server/src/prisma/modules/index.ts
  packages/server/src/prisma/modules/softDeletion.ts
  packages/server/src/prisma/utils/formatDate.ts
Due: admin_jon, server_jon

feat: server:查询逻辑调整
  packages/admin/src/components.d.ts
  packages/client/src/pages/register/index.vue
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/client/user/user.service.ts
  packages/server/src/modules/internal/log/dto/log.dto.ts
  packages/server/src/typings/prisma.d.ts
  packages/server/src/typings/service/base.service.ts
Due: admin_jon, client_jon, server_jon

feat: server:查询逻辑调整
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat: server:查询逻辑调整
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/clientManage.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/clientManage.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/client/user/user.service.ts
Due: server_jon

feat: server:查询逻辑调整
  package.json
  packages/admin/src/apis/thirdParty.ts
  packages/admin/src/apis/types/thirdParty.d.ts
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/contentMgmt/contentMgmt/contentMgmt.vue
  packages/admin/src/views/contentMgmt/contentMgmt/shared.ts
  packages/server/package.json
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/configuration.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/admin/thirdParty/libs/copy.service.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.controller.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.service.ts
  packages/server/src/modules/client/user/user.controller.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: 解析服务
  packages/server/prisma/schema/Content.prisma
  packages/server/src/basic/service/jwt.service.ts
  packages/server/src/modules/admin/thirdParty/dto/thirdParty.dto.ts
  packages/server/src/modules/admin/thirdParty/libs/copy.service.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.controller.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.service.ts
  packages/server/src/utils/tryRequest.ts
  pnpm-lock.yaml
Due: server_jon

feat: 解析服务
  packages/server/src/modules/admin/thirdParty/libs/copy.service.ts
Due: server_jon

feat: 细节调整
  packages/admin/src/App.vue
  packages/admin/src/apis/thirdParty.ts
  packages/admin/src/apis/types/thirdParty.d.ts
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/contentMgmt/contentMgmt/contentMgmt.vue
  packages/admin/src/views/systemMgmt/dataDictionary/dataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/recordDetails.vue
  packages/server/package.json
  packages/server/prisma/schema/Content.prisma
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 细节调整
  packages/server/prisma/schema/Content.prisma
Due: server_jon

feat: 细节调整
  packages/server/prisma/schema/Content.prisma
  packages/server/src/modules/admin/thirdParty/libs/copy.service.ts
Due: server_jon

feat: 解析服务
  packages/server/package.json
  packages/server/prisma/schema/AdminLog.prisma
  packages/server/prisma/schema/AdminUser.prisma
  packages/server/prisma/schema/ClientSystemConfig.prisma
  packages/server/prisma/schema/ClientUser.prisma
  packages/server/prisma/schema/DataDictionary.prisma
  packages/server/prisma/schema/FunPlugin.prisma
  packages/server/prisma/schema/admin/admin_log.prisma
  packages/server/prisma/schema/admin/admin_user.prisma
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/prisma/schema/client/client_user.prisma
  packages/server/prisma/schema/content.prisma
  packages/server/prisma/schema/data_dictionary.prisma
  packages/server/prisma/schema/main.prisma
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/admin/clientManage/clientConfig/clientConfig.controller.ts
  packages/server/src/modules/admin/clientManage/clientConfig/clientConfig.service.ts
  packages/server/src/modules/admin/clientManage/clientConfig/dto/clientConfig.dto.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.controller.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/system/system.controller.ts
  packages/server/src/modules/admin/system/system.service.ts
  packages/server/src/modules/client/clientManage/clientManage.controller.ts
  packages/server/src/modules/common/upload/upload.controller.ts
  packages/server/src/modules/common/upload/upload.service.ts
  packages/server/src/modules/internal/log/dto/log.dto.ts
  packages/server/src/modules/internal/log/log.controller.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/utils/validate.ts
  pnpm-lock.yaml
Due: server_jon

feat: 解析服务
  packages/server/src/modules/admin/requestLog/dto/requestLog.dto.ts
  packages/server/src/modules/admin/requestLog/requestLog.controller.ts
  packages/server/src/modules/admin/requestLog/requestLog.service.ts
Due: server_jon

feat: 解析服务
  packages/server/src/decorator/get.decorator.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/enum/ctxAttr.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/admin/requestLog/requestLog.service.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: server_jon

feat: 解析服务
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: server_jon

feat: 解析服务
  packages/server/src/auth/jwt.service.ts
  packages/server/src/configuration.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/decorator/register.service.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/client/user/user.service.ts
Due: server_jon

feat: 解析服务
  packages/server/src/basic/service/config.service.ts
  packages/server/src/basic/service/router.service.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/modules/admin/requestLog/requestLog.service.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/public/captcha/captcha.controller.ts
  packages/server/src/modules/public/captcha/captcha.service.ts
Due: server_jon

feat: 细节调整
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/types/logs.d.ts
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/loginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/operationLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/shared.ts
  packages/server/package.json
  packages/server/prisma/schema/admin/admin_log.prisma
  packages/server/prisma/schema/dictionary.prisma
  packages/server/src/modules/admin/requestLog/dto/requestLog.dto.ts
  packages/server/src/modules/admin/requestLog/requestLog.controller.ts
  packages/server/src/modules/admin/requestLog/requestLog.service.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/open/captcha/captcha.controller.ts
  packages/server/src/modules/open/captcha/captcha.service.ts
Due: admin_jon, server_jon

feat: 细节调整
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/operationLogsPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/userMgmtPage.vue
  packages/server/src/guard/auth.guard.ts
Due: admin_jon, server_jon

feat: 细节调整
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/modules/admin/user/user.controller.ts
Due: server_jon

feat: 解析服务
  packages/server/src/modules/admin/requestLog/requestLog.service.ts
  packages/server/src/modules/admin/user/user.controller.ts
Due: server_jon

feat: 解析服务
  packages/server/prisma/schema/content.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/comic.prisma
  packages/server/prisma/schema/content/content.prisma
Due: server_jon

feat: 细节调整
  packages/admin/src/views/contentMgmt/contentMgmt/contentMgmt.vue
  packages/server/src/filter/exception.filter.ts
Due: admin_jon, server_jon

feat: 细节调整
  packages/admin/src/apis/clientManage.ts
  packages/admin/src/apis/types/clientManage.d.ts
  packages/admin/src/views/marketing/clientSystemConfig/clientSystemConfig.vue
Due: admin_jon

feat: 解析服务
  packages/server/prisma/schema/dictionary.prisma
  packages/server/prisma/schema/main.prisma
Due: server_jon

feat: 细节调整
  packages/att/src/generateTypes.ts
  packages/client/api.config.js
  packages/client/src/apis/clientManage.ts
  packages/client/src/apis/funPlugin.ts
  packages/client/src/apis/types/clientManage.d.ts
  packages/client/src/apis/types/funPlugin.d.ts
  packages/client/src/apis/types/upload.d.ts
  packages/client/src/apis/types/user.d.ts
  packages/client/src/apis/upload.ts
  packages/client/src/apis/user.ts
  packages/client/src/core/launch.ts
  packages/client/src/pages/register/index.vue
  packages/client/src/stores/modules/system.ts
  packages/client/src/stores/modules/user.ts
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/prisma/schema/client/client_user.prisma
Due: client_jon, server_jon

feat: 解析服务
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/prisma/schema/content/author.prisma
Due: server_jon

feat: 解析服务
  packages/admin/src/router/modules/marketing.ts
  packages/admin/src/views/clientMgmt/funPlugin/funPluginPage.vue
  packages/admin/src/views/clientMgmt/funPlugin/shared.ts
  packages/admin/src/views/clientMgmt/systemConfig/shared.ts
  packages/admin/src/views/clientMgmt/systemConfig/systemConfig.vue
  packages/server/prisma/schema/admin/client_config.prisma
Due: admin_jon, server_jon

feat: 解析服务
  packages/admin/src/components.d.ts
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/router/modules/clientMgmt.ts
  packages/admin/src/router/modules/marketing.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/views/clientMgmt/funPlugin/funPluginPage.vue
  packages/admin/src/views/clientMgmt/funPlugin/shared.ts
  packages/admin/src/views/clientMgmt/notice/notice.vue
  packages/admin/src/views/clientMgmt/pageConfig/pageConfig.vue
Due: admin_jon

feat: service:通知公告
  packages/admin/src/components.d.ts
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/modules/admin/clientManage/clientNotification/dto/notification.dto.ts
  packages/server/src/modules/admin/clientManage/clientNotification/notification.controller.ts
  packages/server/src/modules/admin/clientManage/clientNotification/notification.service.ts
  packages/server/src/prisma/errorMessage.ts
Due: admin_jon, server_jon

feat: service:客户端页面配置
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/clientManage/clientNotification/dto/notification.dto.ts
  packages/server/src/modules/admin/clientManage/clientNotification/notification.controller.ts
  packages/server/src/modules/admin/clientManage/clientPage/clientPage.controller.ts
  packages/server/src/modules/admin/clientManage/clientPage/clientPage.service.ts
  packages/server/src/modules/admin/clientManage/clientPage/dto/clientPages.dto.ts
Due: server_jon

feat: service:客户端页面配置
  packages/server/src/modules/client/clientManage/clientManage.controller.ts
  packages/server/src/modules/client/clientManage/clientManage.service.ts
Due: server_jon

feat: admin:客户端页面配置
  packages/admin/src/apis/clientManage.ts
  packages/admin/src/apis/clientNotification.ts
  packages/admin/src/apis/clientPageConfig.ts
  packages/admin/src/apis/types/clientManage.d.ts
  packages/admin/src/apis/types/clientNotification.d.ts
  packages/admin/src/apis/types/clientPageConfig.d.ts
  packages/admin/src/components.d.ts
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/clientMgmt/pageConfig/pageConfig.vue
  packages/admin/src/views/clientMgmt/pageConfig/shared.ts
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/src/modules/admin/clientManage/clientConfig/clientConfig.service.ts
  packages/server/src/modules/admin/clientManage/clientPage/dto/clientPages.dto.ts
  packages/types/src/index.d.ts
Due: admin_jon, server_jon

feat: admin:客户端通知
  packages/admin/package.json
  packages/admin/src/apis/clientNotification.ts
  packages/admin/src/apis/types/clientNotification.d.ts
  packages/admin/src/components/es-editor/es-editor.vue
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/components/es-switch/es-switch.vue
  packages/admin/src/global.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/utils/index.ts
  packages/admin/src/utils/table.ts
  packages/admin/src/views/clientMgmt/notice/notice.vue
  packages/admin/src/views/clientMgmt/notice/shared.ts
  packages/admin/src/views/clientMgmt/pageConfig/pageConfig.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/systemMgmt/dataDictionary/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/shared.ts
  packages/admin/src/views/systemMgmt/profile/profilePage.vue
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
  packages/admin/tsconfig.app.json
  packages/admin/vite/plugins/components.ts
  packages/server/prisma/schema/admin/client_config.prisma
  packages/server/src/modules/admin/clientManage/clientNotification/dto/notification.dto.ts
  packages/server/src/modules/admin/clientManage/clientNotification/notification.controller.ts
  packages/server/src/modules/admin/clientManage/clientNotification/notification.service.ts
  packages/server/src/modules/admin/clientManage/clientPage/clientPage.controller.ts
  packages/server/src/modules/admin/requestLog/requestLog.controller.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 解析服务
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/clientMgmt/notice/shared.ts
Due: admin_jon

feat: admin:客户端通知
  packages/admin/src/App.vue
  packages/admin/src/main.ts
  packages/admin/src/views/login/index.vue
Due: admin_jon

feat: admin:客户端通知
  packages/admin/src/hooks/useValidator.ts
  packages/admin/src/views/login/index.vue
Due: admin_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
