Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json

refactor(admin): 重构作者详情页面并优化漫画管理功能
  package.json
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/author/authorDetailModal.vue
  packages/admin/src/views/contentMgmt/author/index.vue
  packages/admin/src/views/contentMgmt/author/shared.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/prisma/seed/dataDictionary.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

refactor(admin): 调整 UnoCSS 配置
  packages/admin/unocss.config.ts
Due: admin_jon

refactor(author): 重构作者管理页面
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/views/contentMgmt/author/authorDetail.vue
  packages/admin/src/views/contentMgmt/author/index.vue
Due: admin_jon

refactor(admin): 重构作者管理相关接口和页面
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/views/contentMgmt/author/authorDetail.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/att/src/apis/appManage.ts
  packages/att/src/apis/appNotice.ts
  packages/att/src/apis/appPageConfig.ts
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/chapter.ts
  packages/att/src/apis/comic.ts
  packages/att/src/apis/content.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/thirdParty.ts
  packages/att/src/apis/types/appManage.d.ts
  packages/att/src/apis/types/appNotice.d.ts
  packages/att/src/apis/types/appPageConfig.d.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/apis/types/chapter.d.ts
  packages/att/src/apis/types/comic.d.ts
  packages/att/src/apis/types/content.d.ts
  packages/att/src/apis/types/dictionary.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/thirdParty.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/att/src/generateTypes.ts
  packages/server/public/files/other/20250514/shared/upload_1747231562390.0.3774519879488669.png
  packages/server/public/files/other/20250514/shared/upload_1747231867114.0.5985647798872835.png
Due: admin_jon, server_jon

feat(admin): 添加漫画详情组件并实现数据获取功能
  .prettierrc
  .trae/rules/project_rules.md
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/comicDetail.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

feat(comicMgmt): 优化漫画管理页面样式和功能
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/comicDetail.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

feat: 12
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/comicDetail.vue
Due: admin_jon

feat(comic): 添加更新漫画相关权限接口及相关类型定义
  .prettierrc
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/views/contentMgmt/author/authorDetail.vue
  packages/admin/src/views/contentMgmt/comicMgmt/comicDetail.vue
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
Due: admin_jon, server_jon

feat(comicMgmt): 添加章节弹窗功能并优化操作按钮样式
  packages/admin/src/views/contentMgmt/comicMgmt/comicDetail.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
Due: admin_jon

feat(comic): 添加漫画章节内容管理功能
  packages/admin/src/enum/prompts.ts
  packages/admin/src/hooks/useFeedback.ts
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/public/files/work/comic/5/2/upload_1748107316104.0.5937873927932393.png
  packages/server/public/files/work/comic/5/2/upload_1748107472110.0.9203488733261063.png
  packages/server/public/files/work/comic/5/2/upload_1748107484535.0.3568774044117815.png
  packages/server/public/files/work/comic/5/2/upload_1748107485633.0.8954107696255869.png
  packages/server/public/files/work/comic/5/2/upload_1748107498425.0.3846969277701806.png
  packages/server/public/files/work/comic/5/2/upload_1748107507476.0.6258513639206174.png
  packages/server/public/files/work/comic/5/2/upload_1748107508931.0.4068512687713901.png
  packages/server/src/basic/service/file.service.ts
  packages/server/src/config/modules/upload.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/work/comic/chapter.service.ts
Due: admin_jon, server_jon

feat(comic): 优化漫画章节内容管理功能
  packages/admin/src/views/contentMgmt/author/authorDetail.vue
  packages/server/public/files/work/comic/5/2/upload_1748107316104.0.5937873927932393.png
  packages/server/public/files/work/comic/5/2/upload_1748107472110.0.9203488733261063.png
  packages/server/public/files/work/comic/5/2/upload_1748107484535.0.3568774044117815.png
  packages/server/public/files/work/comic/5/2/upload_1748107485633.0.8954107696255869.png
  packages/server/public/files/work/comic/5/2/upload_1748107498425.0.3846969277701806.png
  packages/server/public/files/work/comic/5/2/upload_1748107507476.0.6258513639206174.png
  packages/server/public/files/work/comic/5/2/upload_1748107508931.0.4068512687713901.png
  packages/server/src/basic/service/file.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/prisma/models/work/comic.prisma
  packages/server/src/service/work/comic/chapter.service.ts
Due: admin_jon, server_jon

feat(chapter): 添加漫画章节内容管理功能
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/admin/src/hooks/useFeedback.ts
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/public/files/work/comic/5/2/upload_1748187717593.0.9801559433339198.png
Due: admin_jon, server_jon

feat: feat(comicMgmt): 新增漫画内容管理功能
  packages/admin/src/types/components.d.ts
Due: admin_jon

feat: feat(comicMgmt): 新增漫画内容管理功能
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/hooks/useImageInfo.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/service/work/comic/chapter.service.ts
Due: admin_jon, server_jon

feat(图片信息): 在useImageInfo钩子中添加上传时间字段
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/hooks/useImageInfo.ts
  packages/admin/src/types/auto-import.d.ts
Due: admin_jon

feat(comicMgmt): 在漫画内容列表表格中添加多选功能
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/public/files/work/comic/3/3/upload_1748259296465.0.3845421473651429.png
  packages/server/public/files/work/comic/3/3/upload_1748259296470.0.9899611435213072.png
  packages/server/public/files/work/comic/3/3/upload_1748259301146.0.9151882479614251.png
Due: admin_jon, server_jon

feat(es-table): 添加loading属性支持表格加载状态
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/public/files/work/comic/5/2/upload_1748267008923.0.6107091153613105.png
  packages/server/public/files/work/comic/5/2/upload_1748272085121.0.9227285584533096.png
Due: admin_jon, server_jon

fix(comicMgmt): 修复漫画内容上传时的性能问题
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/public/files/work/comic/5/2/upload_1748187717593.0.9801559433339198.png
  packages/server/public/files/work/comic/5/2/upload_1748267008923.0.6107091153613105.png
  packages/server/public/files/work/comic/5/2/upload_1748272085121.0.9227285584533096.png
Due: admin_jon, server_jon

feat(comic): 添加漫画内容批量删除功能并优化相关接口
  packages/admin/src/apis/chapter.ts
  packages/admin/src/apis/types/chapter.d.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/views/contentMgmt/comicMgmt/comicDetail.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/admin/thirdPartyResource/libs/copy.service.ts
  packages/server/src/service/work/comic/chapter.service.ts
Due: admin_jon, server_jon

chore: 忽略 Prisma 生成文件
  .gitignore
  .prettierignore
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 初始化 NestJS 项目结构
  packages/server-nestjs/.gitignore
  packages/server-nestjs/.prettierrc
  packages/server-nestjs/README.md
  packages/server-nestjs/eslint.config.mjs
  packages/server-nestjs/nest-cli.json
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.controller.spec.ts
  packages/server-nestjs/src/app.controller.ts
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/app.service.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/test/app.e2e-spec.ts
  packages/server-nestjs/test/jest-e2e.json
  packages/server-nestjs/tsconfig.build.json
  packages/server-nestjs/tsconfig.json
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 添加 Prisma 支持并优化开发流程
  packages/server-nestjs/.gitignore
  packages/server-nestjs/package.json
  packages/server-nestjs/prisma/schema.prisma
  packages/server-nestjs/src/app.service.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/webpack.config.js
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 初始化 Prisma 模型
  packages/server-nestjs/package.json
  packages/server-nestjs/prisma/models/admin/user.prisma
  packages/server-nestjs/prisma/models/app/config.prisma
  packages/server-nestjs/prisma/models/app/notice.prisma
  packages/server-nestjs/prisma/models/app/user.prisma
  packages/server-nestjs/prisma/models/system/dictionary.prisma
  packages/server-nestjs/prisma/models/system/request_log.prisma
  packages/server-nestjs/prisma/models/work/author.prisma
  packages/server-nestjs/prisma/models/work/category.prisma
  packages/server-nestjs/prisma/models/work/comic.prisma
  packages/server-nestjs/prisma/schema.prisma
  packages/server-nestjs/webpack.config.js
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 初始化 Prisma 模型
  packages/server-nestjs/src/db/seed/adminUser.ts
  packages/server-nestjs/src/db/seed/dataDictionary.ts
  packages/server-nestjs/src/db/seed/index.ts
  packages/server-nestjs/src/db/seed/workCategory.ts
Due: none

feat(server-nestjs):集成 Prisma ORM
  packages/server-nestjs/src/app.controller.ts
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/app.service.ts
  packages/server-nestjs/src/prosma.service.ts
  packages/server-nestjs/tsconfig.json
  packages/server-nestjs/webpack.config.js
Due: none

refactor(server-nestjs):修正 PrismaService 文件名引用- 将 prosma.service.ts 更名为 prisma.service.ts - 更新 app.module.ts 和 app.service.ts 中的引用
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/app.service.ts
  packages/server-nestjs/src/prisma.service.ts
Due: none

feat(comic): 添加漫画内容批量删除功能并优化相关接口
  .env
  .gitignore
  package.json
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/db/seed/adminUser.ts
  packages/server-nestjs/src/db/seed/dataDictionary.ts
  packages/server-nestjs/src/db/seed/index.ts
  packages/server-nestjs/src/db/seed/workCategory.ts
  packages/server-nestjs/webpack.config.js
  pnpm-lock.yaml
  prisma/schema.prisma
Due: admin_jon, client_jon, server_jon

feat(comic): 添加漫画内容批量删除功能并优化相关接口
  packages/server-nestjs/src/app.controller.spec.ts
  packages/server-nestjs/src/app.controller.ts
  packages/server-nestjs/src/app.service.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/config/database.config.ts
  packages/server-nestjs/src/config/jwt.config.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/core/database/prisma.service.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  packages/server-nestjs/src/modules/client/users/user.controller.ts
  packages/server-nestjs/src/modules/client/users/user.service.ts
Due: none

feat(server-nestjs): 优化异常处理机制
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/main.ts
Due: none

refactor(server-nestjs):优化数据验证和转换逻辑
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
Due: none

feat(server-nestjs): 新增用户模块并优化相关功能
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/doc.decorator.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/transform-interceptor.ts
  packages/server-nestjs/src/common/serializers/class-transformer.serializer.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
Due: none

feat(server-nestjs): 重构 API 文档装饰器并支持分页
  packages/server-nestjs/src/common/decorators/api-doc.decorator.ts
  packages/server-nestjs/src/common/decorators/doc.decorator.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/common/serializers/class-transformer.serializer.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: none

feat(comic): 添加漫画内容批量删除功能并优化相关接口
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: none

refactor(server-nestjs):重构 API 文档和验证装饰器
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/api-doc.decorator.ts
  packages/server-nestjs/src/common/decorators/validate.decorator.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: none

feat(admin): 实现用户登录功能并优化验证码接口
  packages/server-nestjs/src/common/decorators/api-doc.decorator.ts
  packages/server-nestjs/src/modules/admin/users/dto/captcha.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: none

feat(admin): 实现登录验证码功能并调整开发配置
  packages/admin/.env.development
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/apis/captcha.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/login/index.vue
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: admin_jon

feat: eslint
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: none

refactor(server-nestjs):重构模块导入和接口定义
  packages/att/src/apis/types/auth.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatApiTree.ts
  packages/att/src/generateTypes.ts
  packages/att/src/index.ts
  packages/server-nestjs/WINSTON_LOGGER_README.md
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/log.decorator.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/services/logger.service.ts
  packages/server-nestjs/src/config/logger.config.ts
  packages/server-nestjs/src/examples/logger-usage.example.ts
  packages/server-nestjs/src/global/global.module.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 添加 JWT 配置并优化日志服务
  packages/att/src/apis/auth.ts
  packages/att/src/formatApiTree.ts
  packages/att/src/formatSchema.ts
  packages/att/src/generateTypes.ts
  packages/att/src/index.ts
  packages/server-nestjs/.env
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/factories/logger.factory.ts
  packages/server-nestjs/src/common/services/auth.service.base.ts
  packages/server-nestjs/src/common/services/logger.service.ts
  packages/server-nestjs/src/common/strategies/jwt.strategy.ts
  packages/server-nestjs/src/config/logger.config.ts
  packages/server-nestjs/src/examples/logger-usage.example.ts
  packages/server-nestjs/src/global/global.module.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/auth/strategies/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/auth/strategies/client-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  pnpm-lock.yaml
Due: none
