Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_build, admin_docker, client_build, client_docker, server_build, server_docker

.gitlab-ci.yml:

stages:
  - build
  - docker

variables:
  ADMIN: 'asherith/admin'
  CLIENT: 'asherith/client'
  SERVER: 'asherith/server'
  PNPM_REGISTRY: 'https://registry.npmmirror.com'
  DOCKER_REGISTRY: 'registry.cn-hangzhou.aliyuncs.com'
  DOCKER_USER: 'Asherith'
  DOCKER_PASS: 'li259158'

cache:
  key: cache-${CI_COMMIT_REF_NAME}
  paths:
    - node_modules/
    - pnpm-lock.yaml

default:
  tags:
    - akaiito
  artifacts:
    paths:
      - .gitlab-ci.yml
      - Dockerfile

admin_build:
  stage: build
  image: node:18-alpine
  script:
    - corepack enable && pnpm config set registry $PNPM_REGISTRY
    - pnpm install -F "@akaiito/admin" --frozen-lockfile
    - pnpm -C packages/admin build
  artifacts:
    paths:
      - packages/admin/dist/
  only:
    changes:
      - packages/admin/**/*
      - .gitlab-ci.yml
      - Dockerfile

admin_docker:
  stage: docker
  artifacts:
    paths:
      - packages/admin/dist/
  script:
    - docker rm -f $DOCKER_REGISTRY/$ADMIN || true
    - docker rmi -f $DOCKER_REGISTRY/$ADMIN || true
    - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
    - docker build . --target ADMIN --tag $ADMIN
    - docker tag $ADMIN $DOCKER_REGISTRY/$ADMIN:latest
    - docker push $DOCKER_REGISTRY/$ADMIN:latest
  only:
    changes:
      - packages/admin/**/*
      - .gitlab-ci.yml
      - Dockerfile

client_build:
  stage: build
  image: node:18-alpine
  script:
    - corepack enable && pnpm config set registry $PNPM_REGISTRY
    - pnpm install -F "@akaiito/client" --frozen-lockfile
    - pnpm -C packages/client build
  artifacts:
    paths:
      - packages/client/dist
  only:
    changes:
      - packages/client/**/*
      - .gitlab-ci.yml
      - Dockerfile

client_docker:
  stage: docker
  artifacts:
    paths:
      - packages/client/dist/
  script:
    - docker rm -f $DOCKER_REGISTRY/$CLIENT || true
    - docker rmi -f $DOCKER_REGISTRY/$CLIENT || true
    - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
    - docker build . --target CLIENT --tag $CLIENT
    - docker tag $CLIENT $DOCKER_REGISTRY/$CLIENT:latest
    - docker push $DOCKER_REGISTRY/$CLIENT:latest
  only:
    changes:
      - packages/client/**/*
      - .gitlab-ci.yml
      - Dockerfile

server_build:
  stage: build
  image: node:18-alpine
  script:
    - corepack enable && pnpm config set registry $PNPM_REGISTRY
    - pnpm install -F "@akaiito/server" --frozen-lockfile
    - pnpm -C packages/server build
  artifacts:
    paths:
      - packages/server/dist
      - packages/utils/dist
  only:
    changes:
      - packages/server/**/*
      - .gitlab-ci.yml
      - Dockerfile

server_docker:
  stage: docker
  artifacts:
    paths:
      - packages/server/dist/
      - packages/utils/dist
  script:
    - docker rm -f $DOCKER_REGISTRY/$SERVER || true
    - docker rmi -f $DOCKER_REGISTRY/$SERVER || true
    - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
    - docker build . --target SERVER --tag $SERVER
    - docker tag $CLIENT $DOCKER_REGISTRY/$SERVER:latest
    - docker push $DOCKER_REGISTRY/$SERVER:latest
  only:
    changes:
      - packages/server/**/*
      - .gitlab-ci.yml
      - Dockerfile

feat: 调整gitlab配置
  .gitlab-ci.yml
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker

feat: 调整gitlab配置
  packages/admin/src/views/login/LoginPage.vue
Due: admin_build, admin_docker

feat: 调整gitlab配置
  Dockerfile
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker

feat: 调整gitlab配置
  .gitlab-ci.yml
  Dockerfile
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker

feat: 调整gitlab配置
  packages/admin/.env.production
Due: admin_build, admin_docker

feat: 调整gitlab配置
  packages/admin/.env.production
  packages/admin/Nginx.conf
  packages/admin/tsconfig.app.json
  packages/admin/tsconfig.node.json
Due: admin_build, admin_docker

feat: 调整gitlab配置
  packages/admin/Nginx.conf
Due: admin_build, admin_docker

feat: 调整gitlab配置
  packages/admin/Nginx.conf
  packages/client/.env
  packages/client/.env.development
  packages/client/.env.production
  packages/client/Nginx.conf
Due: admin_build, admin_docker, client_build, client_docker

feat: 依赖升级
  package.json
  packages/admin/package.json
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/server/.env
  packages/server/package.json
  packages/server/pnpm-lock.yaml
  packages/server/src/configuration.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker

feat: 依赖升级
  packages/admin/src/main.ts
  packages/admin/tailwind.config.js
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/src/views/login/LoginPage.vue
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/src/main.ts
Due: admin_build, admin_docker

feat: 依赖升级
  .eslintrc-auto-import.json
  packages/admin/.eslintignore
  packages/admin/postcss.config.js
  packages/admin/src/typings/auto-import.d.ts
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/tailwind.config.js
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/vite/plugins/index.ts
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/api-refs.config.json
  packages/admin/package.json
  packages/admin/src/api/modules/open.ts
  packages/admin/src/apis/adminApis.ts
  packages/admin/src/apis/index.ts
  packages/admin/src/apis/openApis.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/utils/request/request.ts
  packages/admin/src/views/login/LoginPage.vue
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/src/apis/index.ts
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/server/src/base/service/captcha.service.ts
  packages/server/src/modules/open/captcha/captcha.controller.ts
  packages/typings/src/apiTypings/apis.d.ts
  packages/typings/src/apiTypings/axios.d.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker

feat: 依赖升级
  packages/admin/api-refs.config.json
  packages/admin/package.json
  packages/admin/src/apis/adminApis.ts
  packages/admin/src/apis/index.ts
  packages/admin/src/apis/openApis.ts
  packages/admin/src/views/login/LoginPage.vue
  packages/typings/package.json
  packages/utils/src/validate.ts
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/typings/src/apiTypes/admin.d.ts
  packages/typings/src/apiTypes/client.d.ts
  packages/typings/src/apiTypes/common.d.ts
  packages/typings/src/apiTypes/open.d.ts
  packages/typings/src/apiTypings/apis.d.ts
  packages/typings/src/apiTypings/axios.d.ts
Due: admin_build, admin_docker

feat: 依赖升级
  packages/admin/package.json
Due: admin_build, admin_docker

feat: 依赖升级
  .gitlab-ci.yml
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker
