Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_build, admin_docker, client_build, client_docker, server_build, server_docker, run_admin_job, run_client_job, run_server_job

admin_build:
  image: node:16.20.0-alpine
  after_script:
  - corepack enable
  - pnpm config set registry $PNPM_REGISTRY
  - pnpm install -F @akaiito/$CURRENT_PROJECT --no-frozen-lockfile
  - pnpm -C packages/$CURRENT_PROJECT build
  artifacts:
    paths:
    - packages/$CURRENT_PROJECT/dist/
    - packages/utils/dist/
  ...

admin_docker:
  after_script:
  - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
  - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker stop
  - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker rm
  - docker rmi -f $CURRENT_IMAGE
  ...

client_build:
  image: node:16.20.0-alpine
  after_script:
  - corepack enable
  - pnpm config set registry $PNPM_REGISTRY
  - pnpm install -F @akaiito/$CURRENT_PROJECT --no-frozen-lockfile
  - pnpm -C packages/$CURRENT_PROJECT build
  artifacts:
    paths:
    - packages/$CURRENT_PROJECT/dist/
    - packages/utils/dist/
  ...

client_docker:
  after_script:
  - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
  - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker stop
  - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker rm
  - docker rmi -f $CURRENT_IMAGE
  ...

server_build:
  image: node:16.20.0-alpine
  after_script:
  - corepack enable
  - pnpm config set registry $PNPM_REGISTRY
  - pnpm install -F @akaiito/$CURRENT_PROJECT --no-frozen-lockfile
  - pnpm -C packages/$CURRENT_PROJECT build
  artifacts:
    paths:
    - packages/$CURRENT_PROJECT/dist/
    - packages/utils/dist/
  ...

server_docker:
  after_script:
  - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
  - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker stop
  - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker rm
  - docker rmi -f $CURRENT_IMAGE
  ...

run_admin_job:
  stage: run
  script:
  - docker run -d -p 80:80 $DOCKER_REGISTRY/$ADMIN

run_client_job:
  stage: run
  script:
  - docker run -d -p 82:80 $DOCKER_REGISTRY/$CLIENT

run_server_job:
  stage: run
  script:
  - docker run --add-host akaiito:172.26.95.99 -d -p 7001:7001 $DOCKER_REGISTRY/$SERVER

perf: 调整流水线
  package.json
Due: none

perf: 调整流水线
  .gitlab-ci.yml
  packages/server/package.json
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker, run_admin_job, run_client_job, run_server_job

perf: 调整流水线
  .gitlab-ci.yml
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker, run_admin_job, run_client_job, run_server_job

perf: 完善基础组件
  packages/admin/src/apis/dictionary.d.ts
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/basic/BasicPopConfirm.vue
  packages/admin/src/components/basic/BasicSwitch.vue
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/enum/prompts.ts
  packages/admin/src/hooks/useFeedback.ts
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/apifox-to-typescript/src/utils.ts
  packages/typings/src/index.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: 完善基础组件
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/basic/BasicModal.vue
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/components/modal/FormModal.vue
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/server/src/config/config.default.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: 完善基础组件
  packages/admin/src/components/basic/BasicToolbar.vue
Due: admin_build, admin_docker, run_admin_job

perf: 完善基础组件
  packages/admin/src/apis/dictionary.d.ts
  packages/admin/src/apis/system.d.ts
  packages/admin/src/apis/system.ts
  packages/admin/src/components/basic/BasicModal.vue
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/RecordDetails.vue
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/admin/src/views/systemMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/operationLogs/Shared.ts
  packages/server/prisma/schema.prisma
  packages/server/src/base/dto/base.dto.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/system/dto/log.dto.ts
  packages/server/src/modules/admin/system/system.controller.ts
  packages/server/src/modules/admin/system/system.service.ts
  packages/server/src/utils/validate.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: prisma版本升级
  packages/server/package.json
  pnpm-lock.yaml
Due: server_build, server_docker, run_server_job

perf: service: 基础组件调增名称和位置
  packages/server/prisma/schema.prisma
  packages/server/src/basic/dto/basic.dto.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.service.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/modules/admin/system/dto/log.dto.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/authentication/captcha.service.ts
  packages/server/src/modules/internal/authentication/jwt.service.ts
  packages/server/src/modules/internal/log/log.controller.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/modules/internal/router/router.service.ts
  packages/server/src/modules/open/captcha/captcha.controller.ts
Due: server_build, server_docker, run_server_job

perf: service: 基础组件调增名称和位置
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: service: 完善日志组件
  packages/server/prisma/schema.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/configuration.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/modules/internal/router/router.service.ts
Due: server_build, server_docker, run_server_job

perf: service: 增加时间查询
  packages/server/prisma/schema.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/typings/service/base.service.ts
Due: server_build, server_docker, run_server_job

perf: admin: 操作日志调整
  packages/admin/.env.development
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/Shared.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/updateLogs/UpdateLogsPage.vue
Due: admin_build, admin_docker, run_admin_job

perf: admin: 完善table组件
  packages/admin/.env.development
  packages/admin/api-refs.config.json
  packages/admin/src/apis/system.d.ts
  packages/admin/src/apis/system.ts
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/Shared.ts
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/admin/unocss.config.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/config/modules/prisma.yml
  packages/server/src/modules/admin/system/dto/log.dto.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: admin: 完善table组件
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/Shared.ts
  packages/server/src/basic/service/basic.service.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: service: 日志调整
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/Shared.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/log/log.service.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: service: 日志调整
  packages/admin/src/typings/components.d.ts
  packages/server/prisma/schema.prisma
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: admin: 完善Basic基础组件
  packages/admin/src/apis/logs.d.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/utils/index.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/Shared.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/Shared.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/server/src/basic/dto/basic.dto.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/config/config.default.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/modules/admin/system/dto/log.dto.ts
  packages/server/src/modules/admin/system/system.controller.ts
  packages/server/src/modules/internal/log/dto/log.dto.ts
  packages/server/src/modules/internal/log/log.controller.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/utils/validate.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: admin: 完善日志功能
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/Shared.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/Shared.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/updateLogs/UpdateLogsPage.vue
  packages/server/src/modules/internal/log/log.controller.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: admin: 完善Basic组件
  packages/admin/src/components/basic/BasicModal.vue
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/views/systemMgmt/LogsMgmt/loginLogs/Shared.ts
  packages/admin/src/views/systemMgmt/LogsMgmt/operationLogs/Shared.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/RecordDetails.vue
Due: admin_build, admin_docker, run_admin_job

perf: admin: 完善Basic组件
  packages/admin/src/components/basic/BasicModal.vue
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/RecordDetails.vue
  packages/server/src/basic/service/basic.service.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: admin: 完善Basic组件
  packages/admin/src/components/basic/BasicModal.vue
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/views/systemMgmt/dataDictionary/RecordDetails.vue
Due: admin_build, admin_docker, run_admin_job

perf: admin: 路由调整
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/utils/request/table.ts
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/Shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/Shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/updateLogs/UpdateLogsPage.vue
  packages/admin/src/views/systemMgmt/profile/ProfilePage.vue
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
Due: admin_build, admin_docker, run_admin_job

perf: 用户信息调整
  packages/admin/src/apis/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/LoginLogsPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/Shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: 用户管理
  packages/admin/src/apis/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/components/basic/BasicModal.vue
  packages/admin/src/components/basic/BasicPopConfirm.vue
  packages/admin/src/components/modal/modalForm.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/Shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/admin/stats.html
  packages/server/prisma/seed.ts
  packages/server/src/basic/dto/basic.dto.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: 基础组件编写
  config/config.basic.ts
  packages/admin/package.json
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/basic/BasicTable.vue
  packages/admin/src/components/basic/BasicUpload.vue
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/config/index.ts
  packages/admin/src/hooks/useDatePicker.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/userMgmt/Shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/admin/stats.html
  packages/basic-config/index.ts
  packages/basic-config/package.json
  pnpm-lock.yaml
Due: admin_build, admin_docker, run_admin_job

feat: 上传组件
  .gitignore
  packages/admin/src/components/basic/BasicUpload.vue
  packages/basic-config/index.ts
  packages/server/package.json
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/modules/admin/common/upload/upload.controller.ts
  packages/server/src/modules/admin/common/upload/upload.service.ts
  packages/server/src/utils/index.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: 上传组件
  .gitignore
  packages/admin/src/apis/upload.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.d.ts
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/basic/BasicUpload.vue
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/systemMgmt/userMgmt/Shared.ts
  packages/apifox-to-typescript/src/generate.ts
  packages/apifox-to-typescript/src/utils.ts
  packages/basic-config/index.ts
  packages/server/src/config/config.default.ts
  packages/server/src/config/modules/jwt.ts
  packages/server/src/config/modules/staticFile.ts
  packages/server/src/config/modules/upload.ts
  packages/server/src/modules/admin/common/upload/upload.controller.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: 完善上传组件
  packages/admin/.env.development
  packages/admin/.env.production
  packages/admin/src/components/basic/BasicUpload.vue
  packages/admin/src/components/modal/ModalForm.vue
  packages/admin/src/components/previewImage/PreviewImage.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/server/src/config/modules/staticFile.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

Path conditions:
  admin_build: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile
  admin_docker: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile
  client_build: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile
  client_docker: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile
  server_build: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile
  server_docker: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile
  run_admin_job: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile
  run_client_job: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile
  run_server_job: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile
