Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat: 全新版本
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/layouts/components/layoutTabs.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/login/loginPage.vue
Due: admin_jon

feat: 全新版本
  packages/admin/src/layouts/components/layoutHeader.vue
Due: admin_jon

feat: 全新版本
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/clientMgmt/notice/notice.vue
  packages/admin/src/views/clientMgmt/notice/shared.ts
  packages/admin/src/views/clientMgmt/pageConfig/shared.ts
Due: admin_jon

feat: 全新版本
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/clientMgmt/notice/notice.vue
  packages/admin/src/views/clientMgmt/notice/shared.ts
  packages/admin/src/views/clientMgmt/pageConfig/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/apis/appManage.ts
  packages/admin/src/apis/appNotification.ts
  packages/admin/src/apis/appPageConfig.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/thirdParty.ts
  packages/admin/src/apis/types/appManage.d.ts
  packages/admin/src/apis/types/appNotification.d.ts
  packages/admin/src/apis/types/appPageConfig.d.ts
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/captcha.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/funPlugin.d.ts
  packages/admin/src/apis/types/logs.d.ts
  packages/admin/src/apis/types/thirdParty.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/app/src/apis/appManage.ts
  packages/app/src/apis/funPlugin.ts
  packages/app/src/apis/types/appManage.d.ts
  packages/app/src/apis/types/funPlugin.d.ts
  packages/app/src/apis/types/upload.d.ts
  packages/app/src/apis/types/user.d.ts
  packages/app/src/apis/upload.ts
  packages/app/src/apis/user.ts
  packages/server/src/modules/app/appManage/appManage.controller.ts
  packages/server/src/modules/app/appManage/appManage.service.ts
  packages/server/src/modules/app/user/dto/user.dto.ts
  packages/server/src/modules/app/user/user.controller.ts
  packages/server/src/modules/app/user/user.service.ts
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/api.config.js
  packages/admin/src/apis/appManage.ts
  packages/admin/src/apis/appNotification.ts
  packages/admin/src/apis/appPageConfig.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/thirdParty.ts
  packages/admin/src/apis/types/appManage.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/router/modules/clientMgmt.ts
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/admin/src/views/appMgmt/pageMgmt/index.vue
  packages/admin/src/views/appMgmt/pageMgmt/shared.ts
  packages/admin/src/views/appMgmt/systemConfig/index.vue
  packages/admin/src/views/appMgmt/systemConfig/shared.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/admin/src/views/contentMgmt/contentMgmt/index.vue
  packages/admin/src/views/contentMgmt/modelMgmt/modelMgmtPage.vue
  packages/admin/src/views/dashboard/index.vue
  packages/admin/src/views/login/index.vue
  packages/admin/src/views/shared/notFound.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
  packages/att/src/config.ts
  packages/att/src/formatApiTree.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/router/modules/clientMgmt.ts
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/router/routes.ts
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/index.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/index.vue
  packages/admin/src/views/systemMgmt/logsMgmt/updateLogs/index.vue
  packages/admin/src/views/systemMgmt/profile/index.vue
  packages/admin/src/views/systemMgmt/serverStatus/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/index.vue
  packages/att/api.config.js
  packages/att/src/apis/appManage.ts
  packages/att/src/apis/appNotification.ts
  packages/att/src/apis/appPageConfig.ts
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/thirdParty.ts
  packages/att/src/apis/types/appManage.d.ts
  packages/att/src/apis/types/appNotification.d.ts
  packages/att/src/apis/types/appPageConfig.d.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/apis/types/dictionary.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/thirdParty.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/att/src/generateTypes.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/hooks/useFeedback.ts
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/appMgmt/notice/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/hooks/useValidate.ts
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/login/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
  packages/server/prisma/schema/content/author.prisma
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/src/assets/images/image.svg
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/hooks/useValidate.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/utils/validate.ts
  packages/utils/src/index.ts
  packages/utils/src/regexp.ts
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-toolbar/types.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-toolbar/types.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/index.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/hooks/useRequest.ts
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-toolbar/types.ts
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/index.vue
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/shared.ts
  packages/admin/src/views/systemMgmt/logMgmt/operationLog/index.vue
  packages/admin/src/views/systemMgmt/logMgmt/operationLog/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/updateLogs/index.vue
  pnpm-lock.yaml
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/userMgmt/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/layouts/components/layoutTabs.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/src/apis/types/author.d.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-icon/es-icon.vue
  packages/admin/src/components/es-icon/types.ts
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/components/es-modal/types.ts
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/layouts/components/layoutAside.vue
  packages/admin/src/layouts/components/layoutHeader.vue
  packages/admin/src/layouts/components/layoutSubMenu.vue
  packages/admin/src/layouts/components/layoutTabs.vue
  packages/admin/src/types/components.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/profile/index.vue
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-pop-confirm/es-pop-confirm.vue
  packages/admin/src/typings/components.d.ts
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-switch/es-switch.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/systemMgmt/dataDict/record.vue
Due: admin_jon

feat: 解析服务
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/pageMgmt/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/index.vue
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
Due: admin_jon

feat: 解析服务
  packages/admin/src/components/es-toolbar/es-toolbar.vue
Due: admin_jon

feat: client改名app
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/components/es-upload/types.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
Due: admin_jon

feat: client改名app
  packages/admin/src/views/systemMgmt/dataDict/index.vue
Due: admin_jon

feat: 解析服务
  .eslintrc-auto-import.json
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-toolbar/types.ts
  packages/admin/src/hooks/useFeedback.ts
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDict/index.vue
Due: admin_jon

feat: 解析服务
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/admin/src/views/appMgmt/pageMgmt/shared.ts
  packages/server/src/prisma/index.ts
Due: admin_jon, server_jon

feat: 解析服务
  packages/server/src/prisma/index.ts
Due: server_jon

feat: 解析服务
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/shared.ts
  packages/admin/src/views/systemMgmt/logMgmt/operationLog/shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
Due: admin_jon

feat: 解析服务
  packages/server/prisma/schema/admin/admin_log.prisma
  packages/server/prisma/schema/admin/admin_user.prisma
  packages/server/prisma/schema/admin/app_config.prisma
  packages/server/prisma/schema/app/app_user.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/dictionary.prisma
Due: server_jon

feat: client改名app
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/components/es-pop-confirm/es-pop-confirm.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/index.vue
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
  packages/server/prisma/schema/dictionary.prisma
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/src/apis/appNotice.ts
  packages/admin/src/apis/types/appNotice.d.ts
  packages/admin/src/components/es-pop-confirm/es-pop-confirm.vue
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/server/prisma/schema/admin/app_config.prisma
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.service.ts
  packages/server/src/modules/admin/appManage/appNotification/notification.controller.ts
  packages/server/src/modules/app/appManage/appManage.service.ts
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/views/appMgmt/notice/index.vue
Due: admin_jon

feat: client改名app
  packages/admin/src/apis/appPageConfig.ts
  packages/admin/src/apis/types/appPageConfig.d.ts
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/att/src/apis/appNotice.ts
  packages/att/src/apis/types/appNotice.d.ts
  packages/att/src/apis/types/appPageConfig.d.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/generateTypes.ts
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/utils/validate.ts
Due: admin_jon, server_jon

feat: client改名app
  packages/admin/src/views/appMgmt/notice/index.vue
Due: admin_jon

feat: client改名app
  packages/admin/src/utils/table.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
Due: admin_jon, server_jon

feat: 解析服务
  packages/admin/src/apis/appNotice.ts
  packages/admin/src/apis/types/appNotice.d.ts
  packages/admin/src/components/es-pop-confirm/es-pop-confirm.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/server/prisma/schema/admin/app_config.prisma
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
Due: admin_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
