Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat: client完善基础组件
  packages/client/package.json
  packages/client/src/typings/components.d.ts
  packages/client/src/utils/request.ts
  packages/client/stats.html
  pnpm-lock.yaml
Due: client_jon

feat: client完善基础组件
  packages/client/src/hooks/useRouter.ts
  packages/client/src/pages/tabBar/dynamic/dynamic.vue
  packages/client/stats.html
Due: client_jon

feat: client完善基础组件
  packages/client/src/components/es-image/es-image.vue
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/components/libs/hooks/useRequest.ts
  packages/client/src/components/libs/index.ts
  packages/client/src/components/libs/typings/hooks.ts
  packages/client/src/components/libs/typings/index.ts
  packages/client/src/pages.json
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/typings/components.d.ts
  packages/client/src/utils/request.ts
  packages/client/stats.html
Due: client_jon

feat: client完善基础组件
  packages/client/.eslintrc-auto-import.json
  packages/client/src/hooks/useRefresh.ts
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/typings/auto-import.d.ts
  packages/client/stats.html
Due: client_jon

feat: client完善基础组件
  packages/client/src/hooks/useRequest.ts
  packages/client/src/pages/plugins/plugins.vue
  packages/client/stats.html
Due: client_jon

feat: client同意多端样式
  packages/client/.eslintrc-auto-import.json
  packages/client/src/App.vue
  packages/client/src/components/es-card/es-card.vue
  packages/client/src/components/es-image/es-image.vue
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/typings/auto-import.d.ts
  packages/client/src/utils/filePath.ts
  packages/client/stats.html
  packages/client/vite/plugins/index.ts
Due: client_jon

feat: client同意多端样式
  packages/client/src/App.vue
  packages/client/src/components/es-card/es-card.vue
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/pages/plugins/plugins.vue
  packages/client/stats.html
Due: client_jon

feat: 插件功能调整
  packages/client/src/components/es-card/es-card.vue
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/components/libs/hooks/useRequest.ts
  packages/client/src/components/libs/typings/hooks.ts
  packages/client/src/env.d.ts
  packages/client/src/pages.json
  packages/client/src/pages/plugins/plugins.vue
  packages/client/stats.html
Due: client_jon

feat: 插件功能调整
  config/config.project.json
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/marketing/funPlugin/FunPluginPage.vue
  packages/admin/src/views/marketing/funPlugin/Shared.ts
  packages/server/.env
  packages/server/prisma/schema.prisma
  packages/server/src/config/modules/upload.ts
  packages/server/src/modules/admin/common/upload/upload.service.ts
Due: admin_jon, server_jon

feat: 上传插件调整
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/typings/components.d.ts
Due: admin_jon

feat: 上传插件调整
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/views/marketing/funPlugin/FunPluginPage.vue
  packages/admin/src/views/marketing/funPlugin/Shared.ts
  packages/admin/unocss.config.ts
  packages/server/src/modules/admin/common/upload/upload.service.ts
  packages/server/src/modules/admin/funPlugin/dto/funPlugin.dto.ts
  packages/utils/src/isJson.ts
Due: admin_jon, server_jon

feat: client图标组件
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/components/libs/utils/iconify.ts
  packages/client/src/manifest.json
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/stats.html
  packages/client/unocss.config.ts
  packages/client/vite/plugins/index.ts
Due: client_jon

feat: server 版本升级
  packages/client/src/App.vue
  packages/client/src/components/es-card/es-card.vue
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-page/es-page.vue
  packages/client/src/env.d.ts
  packages/client/src/pages.json
  packages/client/src/pages/plugins/detail.vue
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/stats.html
  packages/server/package.json
  packages/server/prisma/schema.prisma
  packages/server/prisma/schema/AdminLog.prisma
  packages/server/prisma/schema/AdminUser.prisma
  packages/server/prisma/schema/ClientUser.prisma
  packages/server/prisma/schema/DataDictionary.prisma
  packages/server/prisma/schema/FunPlugin.prisma
  packages/server/prisma/schema/Main.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/config/modules/prisma.yml
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/prisma/modules/find.ts
  packages/server/src/typings/config/prisma.ts
  packages/server/src/typings/service/base.service.ts
  pnpm-lock.yaml
Due: client_jon, server_jon

feat: server调整
  packages/client/src/pages/tabBar/home/home.vue
  packages/server/prisma/schema/FunPlugin.prisma
  packages/server/src/config/modules/jwt.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/client/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/client/funPlugin/funPlugin.service.ts
  packages/server/src/utils/requestSource.ts
Due: client_jon, server_jon

feat: 升级prisma版本
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/router/modules/marketing.ts
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/router/routes.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/marketing/systemMgmt/Shared.ts
  packages/admin/src/views/marketing/systemMgmt/systemMgmtPage.vue
  packages/client/src/apis/funPlugin.d.ts
  packages/client/src/apis/funPlugin.ts
  packages/client/src/components/es-page/es-page.vue
  packages/client/src/pages.json
  packages/client/src/pages/plugins/detail.vue
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/server/package.json
  packages/server/prisma/schema/ClientSystemConfig.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.controller.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.service.ts
  packages/server/src/modules/admin/clientSystemConfig/dto/clientSystemConfig.dto.ts
  packages/server/src/modules/client/funPlugin/funPlugin.service.ts
Due: admin_jon, client_jon, server_jon

feat: 客户端系统配置
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/clientManage.d.ts
  packages/admin/src/apis/clientManage.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/router/modules/marketing.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/marketing/clientSystemConfig/Shared.ts
  packages/admin/src/views/marketing/clientSystemConfig/clientSystemConfig.vue
  packages/admin/src/views/marketing/systemMgmt/systemMgmtPage.vue
Due: admin_jon

feat: 客户端基础组件
  packages/client/.eslintrc.js
  packages/client/package.json
  packages/client/src/apis/clientManage.d.ts
  packages/client/src/apis/clientManage.ts
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/components/es-image/es-image.vue
  packages/client/src/components/es-nav-bar/es-nav-bar.vue
  packages/client/src/components/es-page/es-page.vue
  packages/client/src/components/es-search/es-search.vue
  packages/client/src/components/es-swiper/es-swiper.vue
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/components/libs/index.ts
  packages/client/src/components/libs/typings/index.ts
  packages/client/src/core/bootstrap.ts
  packages/client/src/main.ts
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/src/stores/index.ts
  packages/client/src/stores/modules/systemConfig.ts
  packages/client/stats.html
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.controller.ts
  packages/server/src/modules/client/clientManage/clientManage.controller.ts
  pnpm-lock.yaml
Due: client_jon, server_jon

feat: 客户端导航组件调整
  packages/client/src/components/es-nav-bar/es-nav-bar.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/stats.html
Due: client_jon

feat: 客户端导航组件完善
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/components/es-search/es-search.vue
  packages/client/src/components/libs/hooks/useModal.ts
  packages/client/src/components/libs/hooks/useRequest.ts
  packages/client/src/components/libs/hooks/useStorage.ts
  packages/client/src/pages.json
  packages/client/src/pages/search/search.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/stats.html
Due: client_jon

feat: 客户端导航组件完善
  packages/client/src/components/es-nav-bar/es-nav-bar.vue
  packages/client/src/components/libs/hooks/useRequest.ts
  packages/client/src/components/libs/hooks/useStorage.ts
  packages/client/src/pages/search/search.vue
  packages/client/stats.html
  packages/server/prisma/schema/AdminLog.prisma
Due: client_jon, server_jon

feat: 管理平台调整命名方法
  packages/admin/src/layouts/components/layoutAside.vue
  packages/admin/src/layouts/components/layoutContent.vue
  packages/admin/src/layouts/components/layoutHeader.vue
  packages/admin/src/layouts/components/layoutSubMenu.vue
  packages/admin/src/layouts/components/layoutTabs.vue
  packages/admin/src/layouts/layoutMain.vue
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/router/modules/marketing.ts
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/router/routes.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/classifyMgmtPage.vue
  packages/admin/src/views/dashboard/dashboardPage.vue
  packages/admin/src/views/login/loginPage.vue
  packages/admin/src/views/marketing/clientSystemConfig/clientSystemConfig.vue
  packages/admin/src/views/marketing/clientSystemConfig/shared.ts
  packages/admin/src/views/marketing/funPlugin/funPluginPage.vue
  packages/admin/src/views/marketing/funPlugin/shared.ts
  packages/admin/src/views/shared/notFoundPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/dataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/recordDetails.vue
  packages/admin/src/views/systemMgmt/dataDictionary/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/loginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/operationLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/shared.ts
  packages/admin/src/views/systemMgmt/logsMgmt/updateLogs/updateLogsPage.vue
  packages/admin/src/views/systemMgmt/profile/profilePage.vue
  packages/admin/src/views/systemMgmt/serverStatus/serverStatusPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
  packages/admin/src/views/systemMgmt/userMgmt/userMgmtPage.vue
  packages/admin/stats.html
Due: admin_jon

feat: client:路由传参调整
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/classifyMgmtPage.vue
  packages/admin/src/views/contentMgmt/contentMgmt/contentMgmt.vue
  packages/client/package.json
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-icons/icon-mapping.ts
  packages/client/src/components/es-search/es-search.vue
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/hooks/useStorage.ts
  packages/client/src/components/libs/typings/hooks.ts
  packages/client/src/manifest.json
  packages/client/src/pages/search/search.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/stats.html
  packages/server/prisma/schema/Content.prisma
Due: admin_jon, client_jon, server_jon

feat: client基础调整
  packages/client/.env.development
  packages/client/.env.production
  packages/client/package.json
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/libs/hooks/useRequest.ts
  packages/client/src/stores/modules/systemConfig.ts
  packages/client/src/typings/components.d.ts
  packages/client/stats.html
  packages/client/vite/plugins/index.ts
  packages/client/vite/proxy.ts
  pnpm-lock.yaml
Due: client_jon

feat: client:路由传参调整
  packages/admin/package.json
  packages/admin/src/components/es-icons/es-icons.vue
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/authorsMgmtPage.vue
  packages/admin/src/views/contentMgmt/modelMgmt/modelMgmtPage.vue
  packages/admin/vite/plugins/components.ts
  packages/client/.env.development
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/pages/search/search.vue
  packages/client/src/pages/tabBar/home/home.vue
  packages/client/src/typings/components.d.ts
  packages/server/prisma/schema/Content.prisma
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: 调整上传组件
  packages/admin/src/typings/components.d.ts
  packages/client/src/components/es-icons/es-icons.json
  packages/client/vite/plugins/index.ts
  packages/server/package.json
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/modules/admin/common/upload/upload.controller.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: 调整上传组件
  packages/client/vite/plugins/index.ts
  packages/server/prisma/schema/Content.prisma
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.service.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: client_jon, server_jon

feat: 处理类型错误
  eslint.config.mjs
  pnpm-lock.yaml
Due: none

feat: 处理类型错误
  eslint.config.mjs
  packages/server/.eslintrc.json
  packages/server/src/basic/service/decorator.service.ts
  packages/server/src/configuration.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/modules/internal/config/config.service.ts
Due: server_jon

feat: 处理类型错误
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/server/src/configuration.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.controller.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.service.ts
  packages/server/src/modules/admin/common/upload/upload.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.service.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.service.ts
  packages/server/src/modules/admin/system/system.controller.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/authentication/captcha.service.ts
  packages/server/src/modules/internal/log/log.controller.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/modules/internal/router/router.service.ts
  packages/server/src/modules/open/captcha/captcha.controller.ts
Due: admin_jon, server_jon

feat: 处理类型错误
  .gitlab-ci.yml
  .prettierrc
  eslint.config.mjs
  package.json
  packages/client/.env
  packages/client/.env.development
  packages/client/.env.production
  packages/client/.eslintignore
  packages/client/.eslintrc.js
  packages/client/api.config.js
  packages/client/package.json
  packages/client/src/components/es-icons/es-icons.vue
  packages/client/src/components/es-image/es-image.vue
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/components/es-nav-bar/es-nav-bar.vue
  packages/client/src/components/es-search/es-search.vue
  packages/client/src/components/es-swiper/es-swiper.vue
  packages/client/src/components/libs/hooks/useRequest.ts
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/utils/iconify.ts
  packages/client/src/components/libs/utils/modal.ts
  packages/client/src/static/icons/icon-mapping.ts
  packages/client/unocss.config.ts
  packages/client/vite.config.ts
  packages/client/vite/build.ts
  packages/client/vite/plugins/components.ts
  packages/client/vite/plugins/compression.ts
  packages/client/vite/plugins/import.ts
  packages/client/vite/plugins/index.ts
  packages/client/vite/proxy.ts
  packages/client/vite/resolve.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: 处理类型错误
  packages/client/.hbuilderx/launch.json
  packages/client/src/components/libs/hooks/useConfig.ts
  packages/client/src/components/libs/hooks/useModal.ts
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/hooks/useStorage.ts
  packages/client/src/components/libs/index.ts
  packages/client/src/components/libs/typings/index.ts
  packages/client/src/components/libs/utils/pagesJson.ts
  packages/client/src/config/router.config.ts
  packages/client/src/pages/plugins/plugins.vue
  packages/client/src/utils/request/ajax.ts
  packages/client/src/utils/request/consoleInfo.js
  packages/client/src/utils/request/index.ts
Due: client_jon

feat: 处理类型错误
  packages/client/package.json
  packages/client/src/components/libs/utils/iconify.ts
  packages/client/src/components/libs/utils/pagesJson.ts
  packages/client/src/config/basic.config.ts
  packages/client/src/hooks/useWx.ts
  packages/client/vite.config.ts
  packages/client/vite/plugins/index.ts
  packages/client/vite/proxy.ts
  packages/client/vite/resolve.ts
  pnpm-lock.yaml
Due: client_jon

feat: 处理类型错误
  pnpm-lock.yaml
Due: none

feat: 基础调整
  packages/admin/src/apis/author.d.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/clientManage.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/authorsMgmtPage.vue
  packages/admin/src/views/marketing/funPlugin/funPluginPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/loginLogsPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/userMgmtPage.vue
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.service.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
Due: admin_jon, server_jon

feat: 基础调整
  packages/server/src/basic/service/basic.service.ts
Due: server_jon

feat: 基础调整
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/basic/service/decorator.service.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/client/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/internal/log/dto/log.dto.ts
  packages/server/src/modules/internal/log/log.controller.ts
Due: server_jon

feat: 基础调整
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/loginLogsPage.vue
Due: admin_jon

feat: 修复问题
  eslint.config.mjs
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/dataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/recordDetails.vue
  packages/admin/src/views/systemMgmt/logsMgmt/loginLogs/loginLogsPage.vue
  packages/admin/src/views/systemMgmt/logsMgmt/operationLogs/operationLogsPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/userMgmtPage.vue
  packages/typings/src/index.d.ts
Due: admin_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
