Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json

refactor(server-nestjs):优化代码结构和类型导入
  packages/server-nestjs/prisma/schema.prisma
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
Due: none

refactor(server-nestjs):重构拦截器并移除 TransformInterceptor
  packages/server-nestjs/src/common/interceptors/transform-interceptor.ts
Due: none

refactor(server-nestjs):重构拦截器并移除 TransformInterceptor
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
Due: none

refactor(server-nestjs):重构拦截器并移除 TransformInterceptor
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.controller.ts
Due: none

refactor(server-nestjs):重构 HTTP 异常过滤器- 优化错误处理逻辑，支持多种异常类型的处理 - 添加本地化错误消息功能，提高用户体验- 统一错误响应格式，便于前端统一处理 -增加错误日志记录，方便问题排查
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
Due: none

refactor(server-nestjs): 更新 JWT 黑名单服务导入路径- 将 JwtBlacklistService 的导入路径从全局模块改为公共模块 - 更新相关服务和策略文件中的导入语句 - 移除 GlobalModule 中的 JwtConfigService、RsaService 和 JwtBlacklistService
  packages/server-nestjs/src/common/services/jwt-blacklist.service.ts
  packages/server-nestjs/src/global/global.module.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.service.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.strategy.ts
Due: none

refactor(server-nestjs):重构 JWT 相关服务和模块
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/module/jwt/crypto.service.ts
  packages/server-nestjs/src/common/module/jwt/jwt-blacklist.service.ts
  packages/server-nestjs/src/common/module/jwt/jwt.module.ts
  packages/server-nestjs/src/common/module/jwt/rsa.service.ts
  packages/server-nestjs/src/common/module/logger/logger-factory.service.ts
  packages/server-nestjs/src/common/module/logger/logger.module.ts
  packages/server-nestjs/src/common/module/logger/logger.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/auth/auth.controller.ts
  packages/server-nestjs/src/modules/admin/auth/auth.module.ts
  packages/server-nestjs/src/modules/admin/logger/admin-logger.module.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  packages/server-nestjs/src/modules/client/auth/auth.controller.ts
  packages/server-nestjs/src/modules/client/auth/auth.module.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.service.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/logger/client-logger.module.ts
Due: none

feat(server-nestjs): 优化错误处理和用户模块
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/modules/admin/users/user.module.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.controller.ts
Due: none

feat(server-nestjs): 优化错误处理和用户模块
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.controller.ts
Due: admin_jon

refactor(auth): 重构认证守卫并添加智能 JWT 认证
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/guards/guards.module.ts
  packages/server-nestjs/src/common/guards/smart-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/auth/auth.module.ts
  packages/server-nestjs/src/modules/client/auth/auth.module.ts
Due: none

refactor(auth): 重构认证守卫并添加智能 JWT 认证
  packages/server-nestjs/src/common/guards/guards.module.ts
  packages/server-nestjs/src/common/guards/smart-jwt-auth.guard.ts
  packages/server-nestjs/src/common/services/README.md
  packages/server-nestjs/src/common/services/base-repository.service.ts
  packages/server-nestjs/src/common/services/user-repository.service.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.module.ts
Due: none

refactor(server-nestjs):重构基础仓储服务并更新相关模块
  packages/server-nestjs/src/common/services/user-repository.service.ts
  packages/server-nestjs/src/global/services/README.md
  packages/server-nestjs/src/global/services/base-repository.service.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
Due: none

refactor(server): 重构基础仓库服务并更新相关接口
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/att/src/formatApiTree.ts
  packages/server-nestjs/src/global/services/base-repository.service.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
Due: admin_jon

refactor(server-nestjs):重构字典模块并优化数据模型
  .lingma/rules/project_rule.md
  .trae/rules/project_rules.md
  packages/server-nestjs/prisma/models/system/dictionary.prisma
  packages/server-nestjs/src/global/services/base-repository.service.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/create-dictionary.dto.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/dictionary-item.dto.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/dictionary.dto.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/query-dictionary.dto.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/update-dictionary.dto.ts
Due: none

feat(dictionary): 添加字典启用和禁用功能
  packages/server-nestjs/src/common/decorators/validate.decorator.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
Due: none

feat(dictionary): 完善字典管理功能
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/server-nestjs/src/common/decorators/validate.decorator.ts
  packages/server-nestjs/src/common/dto/id.dto.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/common/dto/status.dto.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/dictionary-item.dto.ts
Due: admin_jon

refactor(dictionary): 重构字典管理功能
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/dictionary-item.dto.ts
Due: admin_jon

feat(admin): 添加文件上传配置模块
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/config/index.ts
  packages/admin/src/config/upload.ts
Due: admin_jon

feat(upload): 优化文件上传组件功能和体验
  package.json
  packages/admin/src/components/es-switch/es-switch.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/components/es-upload/types.ts
  packages/admin/src/config/upload.ts
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/utils/index.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/login/index.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/server-nestjs/src/common/dto/status.dto.ts
  packages/server-nestjs/src/modules/admin/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dto/dictionary-item.dto.ts
Due: admin_jon, client_jon, server_jon

fix(upload): 优化文件上传大小限制逻辑
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/modules/admin/upload/upload.controller.ts
  packages/server-nestjs/src/nestjs/multipart.ts
Due: admin_jon

feat(upload): 优化文件上传功能并支持批量上传
  packages/admin/.env.development
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/hooks/useUpload.ts
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/server-nestjs/src/common/services/upload.service.ts
Due: admin_jon

refactor(admin): 优化文件上传组件并调整日期格式
  packages/admin/src/components/es-upload/es-upload.vue
  packages/server-nestjs/src/common/services/upload.service.ts
Due: admin_jon

refactor(admin): 重构用户模块 DTO 和验证逻辑
  packages/server-nestjs/src/common/decorators/validate.decorator.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/modules/admin/users/dto/refresh-token.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/token.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/update-password.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/update-user.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/user-register.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  packages/server-nestjs/src/utils/index.ts
  packages/utils/src/regexp.ts
Due: none

refactor(server-nestjs): 优化导入语句和类型声明
  packages/server-nestjs/eslint.config.mjs
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/interceptors/transform.interceptor.ts
  packages/server-nestjs/src/common/module/jwt/rsa.service.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/config/logger.config.ts
  packages/server-nestjs/src/global/services/base-repository.service.ts
Due: none

chore(eslint): 更新 ESLint 配置并调整导入顺序
  eslint.config.mjs
  packages/server-nestjs/src/global/services/base-repository.service.ts
Due: none

refactor(server-nestjs): 优化导入结构和类型导入
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/interceptors/transform.interceptor.ts
  packages/server-nestjs/src/common/module/jwt/rsa.service.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: none

refactor(server-nestjs): 优化代码结构和导入方式
  packages/server-nestjs/src/global.d.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.strategy.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
  packages/server-nestjs/src/nestjs/multipart.ts
  packages/server-nestjs/src/prisma/seed/adminUser.ts
  packages/server-nestjs/src/prisma/seed/dataDictionary.ts
  packages/server-nestjs/src/prisma/seed/workCategory.ts
Due: none

refactor(server-nestjs): 优化导入方式和代码结构
  packages/server-nestjs/src/common/module/jwt/rsa.service.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/config/logger.config.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  packages/server-nestjs/src/nestjs/multipart.ts
Due: none

refactor(server-nestjs): 优化用户模块密码验证逻辑
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
Due: none

feat(admin): 优化数据字典页面功能和交互
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
Due: admin_jon

refactor(admin): 重构 es-table 组件并优化数据字典页面
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/views/systemMgmt/dataDict/record.vue
Due: admin_jon

refactor(admin): 优化表格组件和异常处理
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
Due: admin_jon

refactor(server-nestjs):重构数据字典和表格组件- 更新 PrismaClient 导入路径 - 重构 DictionaryService 返回结构 - 优化 EsTable组件分页逻辑 -调整数据字典页面显示逻辑
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
  packages/server-nestjs/src/prisma/seed/adminUser.ts
  packages/server-nestjs/src/prisma/seed/dataDictionary.ts
  packages/server-nestjs/src/prisma/seed/index.ts
  packages/server-nestjs/src/prisma/seed/workCategory.ts
Due: admin_jon

feat(dictionary): 优化字典管理功能
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/server-nestjs/src/modules/admin/dictionary/dictionary.controller.ts
  packages/server-nestjs/src/modules/shared/dictionary/dictionary.service.ts
Due: admin_jon

refactor(admin): 优化数据字典筛选功能布局
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
Due: admin_jon

refactor(admin): 优化数据字典和表单组件类型定义- 在 dataDict/shared.ts 中将 filter 函数的参数 span 添加类型注解 - 在 es-form/types.ts 中为 EsFormProps 接口的 modelValue 属性添加一个可选标记
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
Due: admin_jon

feat(admin): 优化 es-table 和 es-toolbar 组件
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/components/es-toolbar/types.ts
Due: admin_jon

refactor(admin): 优化表格筛选重置功能
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
Due: admin_jon

feat(es-table): 优化表格组件并添加日期类型列的格式化显示
  eslint.config.mjs
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
Due: admin_jon

fix(toolbar): 修复重置按钮状态不正确的问题
  packages/admin/src/components/es-toolbar/es-toolbar.vue
Due: admin_jon
