Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_build, admin_docker, client_build, client_docker, server_build, server_docker, run_admin_job, run_client_job, run_server_job

.gitlab-ci.yml:

stages:
  - build
  - docker
  - run

variables:
  ADMIN: 'asherith/admin'
  CLIENT: 'asherith/client'
  SERVER: 'asherith/server'
  PNPM_REGISTRY: 'https://registry.npmmirror.com'
  DOCKER_REGISTRY: 'registry.cn-hangzhou.aliyuncs.com'
  DOCKER_USER: 'Asherith'
  DOCKER_PASS: 'li259158'
  CURRENT_PROJECT: ''
  CURRENT_IMAGE: ''
  CURRENT_IMAGE_STAGE: ''

cache:
  key: cache-$CI_COMMIT_REF_NAME
  paths:
    - node_modules/
    - pnpm-lock.yaml

default:
  tags:
    - akaiito
  artifacts:
    paths:
      - .gitlab-ci.yml
      - .dockerignore
      - Dockerfile

.build_job:
  image: node:16.20.0-alpine
  after_script:
    - corepack enable
    - pnpm config set registry $PNPM_REGISTRY
    - pnpm install -F @akaiito/$CURRENT_PROJECT --no-frozen-lockfile
    - pnpm -C packages/$CURRENT_PROJECT build
  artifacts:
    paths:
      - packages/$CURRENT_PROJECT/dist/
      - packages/utils/dist/

.docker_job:
  after_script:
    - docker login --username=$DOCKER_USER --password=$DOCKER_PASS $DOCKER_REGISTRY
    - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker stop
    - docker ps | grep $CURRENT_IMAGE | awk '{print $1}' | xargs docker rm
    - docker rmi -f $CURRENT_IMAGE
    - docker build . --target $CURRENT_IMAGE_STAGE --tag $CURRENT_IMAGE
    - docker tag $CURRENT_IMAGE $CURRENT_IMAGE:latest
    - docker push $CURRENT_IMAGE:latest

.admin:
  only:
    changes:
      - packages/admin/**/*
      - .gitlab-ci.yml
      - Dockerfile

.client:
  only:
    changes:
      - packages/client/**/*
      - .gitlab-ci.yml
      - Dockerfile

.server:
  only:
    changes:
      - packages/server/**/*
      - .gitlab-ci.yml
      - Dockerfile

admin_build:
  stage: build
  extends:
    - .build_job
    - .admin
  script:
    - echo $CURRENT_PROJECT
  variables:
    CURRENT_PROJECT: 'admin'

admin_docker:
  stage: docker
  extends:
    - .admin
    - .docker_job
  variables:
    CURRENT_IMAGE: $DOCKER_REGISTRY/$ADMIN
    CURRENT_IMAGE_STAGE: 'admin'
  script:
    - echo $CURRENT_IMAGE

client_build:
  stage: build
  extends:
    - .build_job
    - .client
  script:
    - echo $CURRENT_PROJECT
  variables:
    CURRENT_PROJECT: 'client'

client_docker:
  stage: docker
  extends:
    - .client
    - .docker_job
  script:
    - echo $CURRENT_IMAGE
  variables:
    CURRENT_IMAGE: $DOCKER_REGISTRY/$CLIENT
    CURRENT_IMAGE_STAGE: 'client'

server_build:
  stage: build
  extends:
    - .build_job
    - .server
  script:
    - echo $CURRENT_PROJECT
  variables:
    CURRENT_PROJECT: 'server'

server_docker:
  stage: docker
  extends:
    - .server
    - .docker_job
  script:
    - echo $CURRENT_IMAGE
  variables:
    CURRENT_IMAGE: $DOCKER_REGISTRY/$SERVER
    CURRENT_IMAGE_STAGE: 'server'

run_admin_job:
  stage: run
  extends:
    - .admin
  script:
    - docker run -d -p 80:80 $DOCKER_REGISTRY/$ADMIN

run_client_job:
  stage: run
  extends:
    - .client
  script:
    - docker run -d -p 82:80 $DOCKER_REGISTRY/$CLIENT

run_server_job:
  stage: run
  extends:
    - .server
  script:
    - docker run --add-host akaiito:172.26.95.99 -d -p 7001:7001 $DOCKER_REGISTRY/$SERVER

feat: prisma调整
  packages/server/package.json
  packages/server/src/base/service/base.service.ts
  packages/server/src/configuration.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/prisma/index.ts
  packages/server/src/prisma/modules/find.ts
  packages/server/src/prisma/register.ts
  pnpm-lock.yaml
Due: server_build, server_docker, run_server_job

feat: prisma调整
  packages/admin/vite/plugins/import.ts
Due: admin_build, admin_docker, run_admin_job

feat: prisma调整
  .eslintrc-auto-import.json
  packages/admin/src/typings/auto-import.d.ts
Due: admin_build, admin_docker, run_admin_job

feat: prisma调整
  packages/server/package.json
  packages/server/src/configuration.ts
Due: server_build, server_docker, run_server_job

feat: 依赖升级
  packages/server/src/configuration.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/prisma/index.ts
  packages/server/src/prisma/modules/index.ts
  packages/server/src/prisma/register.ts
  pnpm-lock.yaml
Due: server_build, server_docker, run_server_job

feat: 依赖升级
  packages/server/package.json
  packages/server/prisma/schema.prisma
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/log/dto/log.dto.ts
  packages/server/src/prisma/index.ts
  pnpm-lock.yaml
Due: server_build, server_docker, run_server_job

feat: 依赖升级
  packages/server/src/base/service/base.service.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/prisma/index.ts
  packages/server/src/typings/service/base.service.ts
  packages/server/src/utils/encryption.ts
  packages/server/src/utils/index.ts
  packages/server/src/utils/validate.ts
Due: server_build, server_docker, run_server_job

feat: 登录鉴权&用户信息装饰器
  packages/server/package.json
  packages/server/prisma/seed.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/base/service/jwt.service.ts
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/prisma/modules/find.ts
  packages/server/src/prisma/modules/index.ts
  pnpm-lock.yaml
Due: server_build, server_docker, run_server_job

feat: 错误日志写入
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: server_build, server_docker, run_server_job

perf: 更新数据库seed文件信息
  packages/server/package.json
  packages/server/prisma/seed.ts
Due: server_build, server_docker, run_server_job

feat: 用户信息编辑相关
  packages/server/src/base/service/base.service.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: server_build, server_docker, run_server_job

perf: server:用户编辑增加权限校验
  packages/server/src/base/service/base.service.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: server_build, server_docker, run_server_job

perf: 调整自动接口生成
  packages/admin/package.json
  packages/admin/src/apis/index.ts
  packages/admin/src/apis/openApis.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/modules/admin/user/user.controller.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: apifox生成请求代码
  .eslintrc.json
  packages/admin/api.config.js
  packages/admin/package.json
  packages/admin/src/apis/captcha.d.ts
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/logs.d.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/views/login/LoginPage.vue
  packages/admin/stats.html
  packages/apifox-to-typescript/.eslintrc
  packages/apifox-to-typescript/.gitignore
  packages/apifox-to-typescript/README.md
  packages/apifox-to-typescript/package.json
  packages/apifox-to-typescript/src/apis.ts
  packages/apifox-to-typescript/src/config.ts
  packages/apifox-to-typescript/src/generate.ts
  packages/apifox-to-typescript/src/index.ts
  packages/apifox-to-typescript/src/prettier.config.ts
  packages/apifox-to-typescript/src/utils.ts
  packages/apifox-to-typescript/tsconfig.json
  packages/typings/package.json
  pnpm-lock.yaml
Due: admin_build, admin_docker, run_admin_job

feat: apifox生成请求代码
  .eslintrc-auto-import.json
  packages/admin/src/utils/request/index.ts
  packages/apifox-to-typescript/src/generate.ts
Due: admin_build, admin_docker, run_admin_job

feat: apifox生成请求代码
  package.json
Due: none

feat: 添加鉴权
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/config/auth.ts
  packages/admin/src/config/index.ts
  packages/admin/src/router/guard.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/utils/request/request.ts
  packages/admin/src/views/login/LoginPage.vue
  packages/apifox-to-typescript/api.config.d.ts
  packages/apifox-to-typescript/api.config.js
  packages/apifox-to-typescript/src/generate.ts
  packages/server/src/base/service/jwt.service.ts
  packages/server/src/config/config.default.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/typings/src/index.d.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: admin添加布局
  packages/admin/src/assets/images/default-avatar.png
  packages/admin/src/assets/stylesheets/index.scss
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/config/auth.ts
  packages/admin/src/core/bootstrap.ts
  packages/admin/src/global.d.ts
  packages/admin/src/hooks/useFeedback.ts
  packages/admin/src/layouts/LayoutMain.vue
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/layouts/components/LayoutContent.vue
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/layouts/components/LayoutSubMenu.vue
  packages/admin/src/main.ts
  packages/admin/src/router/guard.ts
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/router/routes.ts
  packages/admin/src/stores/modules/layout.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/typings/stores/layout.ts
  packages/admin/src/typings/stores/user.ts
  packages/admin/src/utils/getAssetsFile.ts
  packages/admin/src/utils/index.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/dashboard/DashboardPage.vue
  packages/admin/src/views/login/LoginPage.vue
  packages/admin/src/views/systemMgmt/operationLogs/OperationLogsPage.vue
  packages/admin/src/views/systemMgmt/profile/ProfilePage.vue
  packages/admin/src/views/systemMgmt/serverStatus/ServerStatusPage.vue
  packages/admin/src/views/systemMgmt/userMgmt/UserMgmtPage.vue
  packages/admin/stats.html
  packages/admin/tailwind.config.js
  packages/admin/tsconfig.node.json
  packages/admin/vite/proxy.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, run_admin_job

perf: css调整为unocss
  packages/admin/.env.development
  packages/admin/package.json
  packages/admin/postcss.config.js
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/layouts/LayoutMain.vue
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/layouts/components/LayoutSubMenu.vue
  packages/admin/src/main.ts
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/tailwind.config.js
  packages/admin/unocss.config.ts
  packages/admin/vite/plugins/index.ts
  packages/apifox-to-typescript/package.json
  packages/server/package.json
  packages/utils/package.json
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: 菜单调整
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/typings/components.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: 菜单调整
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/layouts/LayoutMain.vue
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/typings/auto-import.d.ts
Due: admin_build, admin_docker, run_admin_job

feat: 添加历史路由组件
  package.json
  packages/admin/.env.development
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/enum/cache.ts
  packages/admin/src/layouts/LayoutMain.vue
  packages/admin/src/layouts/components/LayoutContent.vue
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/layouts/components/LayoutTabs.vue
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/dashboard/DashboardPage.vue
  packages/admin/unocss.config.ts
  packages/admin/vite.config.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, run_admin_job

feat: 调整dark模式
  packages/admin/src/layouts/LayoutMain.vue
  packages/admin/src/layouts/components/LayoutContent.vue
  packages/admin/unocss.config.ts
Due: admin_build, admin_docker, run_admin_job

perf: menu调整
  packages/admin/src/layouts/components/LayoutAside.vue
Due: admin_build, admin_docker, run_admin_job

perf: menu调整
  packages/admin/src/layouts/LayoutMain.vue
Due: admin_build, admin_docker, run_admin_job

feat: admin完善布局信息&调整apifox生成策略
  packages/admin/src/apis/admin.ts
  packages/admin/src/apis/dictionary.d.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/components/basic/BasucTable.vue
  packages/admin/src/components/icons/AsIcons.vue
  packages/admin/src/layouts/components/LayoutContent.vue
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/router/modules/systemMgmt.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/profile/ProfilePage.vue
  packages/admin/unocss.config.ts
  packages/admin/vite.config.ts
  packages/apifox-to-typescript/api.config.d.ts
  packages/apifox-to-typescript/api.config.js
  packages/apifox-to-typescript/src/apis/captcha.d.ts
  packages/apifox-to-typescript/src/apis/captcha.ts
  packages/apifox-to-typescript/src/apis/dictionary.d.ts
  packages/apifox-to-typescript/src/apis/dictionary.ts
  packages/apifox-to-typescript/src/apis/logs.d.ts
  packages/apifox-to-typescript/src/apis/logs.ts
  packages/apifox-to-typescript/src/apis/user.d.ts
  packages/apifox-to-typescript/src/apis/user.ts
  packages/apifox-to-typescript/src/generate.ts
  packages/apifox-to-typescript/src/utils.ts
  packages/server/prisma/schema.prisma
  packages/server/src/base/dto/base.dto.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.service.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  pnpm-lock.yaml
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

feat: admin完善布局信息&调整apifox生成策略
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/stores/modules/layout.ts
Due: admin_build, admin_docker, run_admin_job

perf: 删除错误生成的api文件
  packages/admin/src/apis/admin.ts
  packages/admin/src/typings/auto-import.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: 完善筛选条件
  packages/admin/src/apis/user.d.ts
  packages/admin/src/components/basic/BasicPopConfirm.vue
  packages/admin/src/components/basic/BasicSwitch.vue
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/apifox-to-typescript/src/utils.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/configuration.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/utils/validate.ts
  packages/typings/src/index.d.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: 数据库查询逻辑调整
  packages/admin/src/components/modal/FormModal.vue
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/server/src/base/dto/base.dto.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/config/modules/prisma.yml
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/prisma/index.ts
  packages/server/src/typings/config/prisma.ts
  packages/server/src/typings/service/base.service.ts
  packages/server/src/utils/validate.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: 调整prisma公共查询逻辑
  packages/admin/src/apis/dictionary.d.ts
  packages/admin/src/components/basic/BasicPopConfirm.vue
  packages/admin/src/components/basic/BasicSwitch.vue
  packages/admin/src/core/bootstrap.ts
  packages/admin/src/utils/index.ts
  packages/admin/src/utils/request/table.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/dataDictionary/Shared.ts
  packages/server/prisma/schema.prisma
  packages/server/src/base/dto/base.dto.ts
  packages/server/src/base/service/base.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/typings/service/base.service.ts
Due: admin_build, admin_docker, server_build, server_docker, run_admin_job, run_server_job

perf: 解决打包错误
  packages/admin/src/components/basic/BasicForm.vue
  packages/admin/src/components/basic/BasicSwitch.vue
  packages/admin/src/components/basic/BasicToolbar.vue
  packages/admin/src/components/modal/FormModal.vue
  packages/admin/src/core/bootstrap.ts
  packages/admin/src/layouts/components/LayoutAside.vue
  packages/admin/src/layouts/components/LayoutHeader.vue
  packages/admin/src/layouts/components/LayoutSubMenu.vue
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/typings/stores/user.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/src/views/systemMgmt/profile/ProfilePage.vue
  packages/admin/stats.html
  packages/typings/src/index.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: 调整流水线
  .gitlab-ci.yml
  package.json
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker, run_admin_job, run_client_job, run_server_job

perf: 调整流水线
  .gitlab-ci.yml
Due: admin_build, admin_docker, client_build, client_docker, server_build, server_docker, run_admin_job, run_client_job, run_server_job

perf: 调整流水线
  packages/admin/stats.html
  packages/typings/src/index.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: 调整流水线
  packages/typings/src/index.d.ts
  packages/typings/tsconfig.json
Due: none

perf: 调整流水线
  packages/admin/stats.html
Due: admin_build, admin_docker, run_admin_job

perf: 调整流水线
  package.json
  packages/admin/src/views/systemMgmt/dataDictionary/DataDictionaryPage.vue
  packages/admin/stats.html
  packages/typings/src/index.d.ts
Due: admin_build, admin_docker, run_admin_job

perf: 调整流水线
  package.json
Due: none
