Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json

feat: server上传组件调整
  packages/server/prisma/schema/work/comic.prisma
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
Due: server_jon

feat: server上传组件调整
  packages/server/src/modules/admin/contentMgmt/comic/content/dto/content.dto.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
Due: server_jon

feat: server上传组件调整
  .prettierrc
  packages/admin/package.json
  packages/admin/src/apis/content.ts
  packages/admin/src/apis/types/content.d.ts
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/vite/proxy.ts
  packages/server/public/files/other/20241211/0f230359-8f73-44f5-82d1-188d81fe8b65.png
  packages/server/public/files/other/20241211/98cd5db8-d128-48e8-8919-30bc56b41c37.png
  packages/server/public/files/other/20241211/å¾®ä¿¡æªå¾_20240304135325.png
  packages/server/public/files/other/20241211/å¾®ä¿¡æªå¾_20241209095818.png
  packages/server/src/service/common/upload.service.ts
  packages/server/src/service/contentMgmt/comic/comic.service.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/admin/package.json
  packages/admin/src/types/auto-import.d.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/basic/service/file.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/basic/service/file.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/dto/content.dto.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
  packages/server/src/typings/prisma.d.ts
  packages/server/src/utils/validate.ts
Due: server_jon

feat: server上传组件调整
  packages/server/src/basic/service/file.service.ts
  packages/server/src/service/common/upload.service.ts
Due: server_jon

feat: 上传调整
  packages/admin/package.json
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/basic/service/basic.service.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-table/types.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/typings/prisma.d.ts
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/admin/package.json
  packages/admin/src/assets/stylesheets/index.scss
  packages/admin/src/main.ts
  packages/admin/src/types/components.d.ts
  pnpm-lock.yaml
Due: admin_jon

feat: server上传组件调整
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
Due: admin_jon

feat: server上传组件调整
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/dto/chapter.dto.ts
Due: admin_jon, server_jon

feat: server上传组件调整
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/decorator/register.service.ts
  packages/server/src/decorator/sortQuery.decorator.ts
  packages/server/src/modules/admin/contentMgmt/comic/chapter/chapter.controller.ts
  packages/server/src/service/contentMgmt/chapter.service.ts
Due: server_jon

feat: server上传组件调整
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
Due: server_jon

feat: 上传调整
  packages/admin/src/apis/content.ts
  packages/admin/src/apis/types/content.d.ts
  packages/admin/src/main.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/att/src/generateTypes.ts
  packages/server/src/decorator/sortQuery.decorator.ts
Due: admin_jon, server_jon

feat: 上传调整
  packages/admin/.eslintrc-auto-import.json
  packages/admin/package.json
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/main.ts
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  pnpm-lock.yaml
Due: admin_jon

feat: 上传调整
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/hooks/useRequest.ts
Due: admin_jon

feat: server上传组件调整
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
Due: admin_jon

feat: 漫画内容组件调整
  packages/admin/src/apis/content.ts
  packages/admin/src/apis/types/content.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/src/basic/service/file.service.ts
  packages/server/src/decorator/sortQuery.decorator.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
Due: admin_jon, server_jon

refactor(contentMgmt): 优化漫画管理功能和 Modal 组件- 移除无用的 API 导入 - 删除多余的 console.log 语句 - 优化 ESModal 组件的关闭逻辑- 在漫画章节管理中添加章节内容预览功能 -调整章节列表渲染方式以提高性能
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

refactor(comicMgmt):重构漫画管理组件
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
Due: admin_jon

refactor(admin): 优化漫画章节管理功能
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/server/src/service/contentMgmt/comic/comic.service.ts
Due: admin_jon, server_jon

fix(contentMgmt): 修复漫画章节表单重复提交问题
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
Due: admin_jon

refactor(admin): 重构漫画章节管理和内容组件
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
Due: admin_jon

refactor(contentMgmt): 优化漫画内容管理功能
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/views/contentMgmt/comicMgmt/chapter.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
Due: admin_jon

build(deps): 更新依赖版本并添加新功能
  packages/admin/.eslintrc-auto-import.json
  packages/admin/package.json
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/att/src/formatSchema.ts
  packages/att/src/generateTypes.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 新增验证码、上传文件、日志管理等功能接口及类型定义
  foo.js
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/pageMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/att/src/apis/appManage.ts
  packages/att/src/apis/appNotice.ts
  packages/att/src/apis/appPageConfig.ts
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/chapter.ts
  packages/att/src/apis/comic.ts
  packages/att/src/apis/content.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/thirdParty.ts
  packages/att/src/apis/types/appManage.d.ts
  packages/att/src/apis/types/appNotice.d.ts
  packages/att/src/apis/types/appPageConfig.d.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/apis/types/chapter.d.ts
  packages/att/src/apis/types/comic.d.ts
  packages/att/src/apis/types/content.d.ts
  packages/att/src/apis/types/dictionary.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/thirdParty.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatSchema.ts
  packages/att/tsconfig.json
  packages/server/public/files/other/20250102/å¾®ä¿¡æªå¾_20241216205925.png
  packages/server/public/files/other/20250102/å¾®ä¿¡æªå¾_20250102232235.png
  packages/server/public/files/other/20250103/å¾®ä¿¡æªå¾_20250102232235.png
Due: admin_jon, server_jon

build(dependencies): 升级项目依赖并更新配置
  foo.js
  package.json
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/views/appMgmt/pageMgmt/index.vue
  packages/app/package.json
  packages/app/src/types/auto-import.d.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

refactor(server): 升级 midway 依赖版本并更新相关配置
  packages/admin/src/apis/types/content.d.ts
  packages/server/package.json
  pnpm-lock.yaml
Due: admin_jon, server_jon

refactor(admin): 优化公告管理页面
  packages/admin/src/components/es-modal/es-modal.vue
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/server/package.json
  packages/server/src/auth/jwt.service.ts
Due: admin_jon, server_jon

refactor(admin): 重构管理员后台相关组件和工具函数
  package.json
  packages/admin/package.json
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/layouts/components/layoutHeader.vue
  packages/admin/src/layouts/components/layoutSubMenu.vue
  packages/admin/src/layouts/components/layoutTabs.vue
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/utils/getAssetsFile.ts
  packages/admin/src/utils/index.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/server/package.json
  packages/server/prisma/schema/main.prisma
  packages/server/src/basic/service/basic.service.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

refactor(admin): 优化作者管理页面并添加全局组件
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
Due: admin_jon

refactor(server): 优化分类管理功能
  packages/admin/src/utils/request/index.ts
  packages/admin/src/utils/request/request.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/server/prisma/schema/work/category.prisma
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
Due: admin_jon, server_jon

feat(dataDict): 添加字典封面功能
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/server/prisma/schema/dictionary.prisma
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
Due: admin_jon, server_jon

feat(contentMgmt): 添加漫画内容年龄分级功能
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/prisma/schema/work/comic.prisma
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
Due: admin_jon, server_jon

refactor: 删除未使用的 API接口定义和实现
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/att/src/apis/appManage.ts
  packages/att/src/apis/appNotice.ts
  packages/att/src/apis/appPageConfig.ts
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/chapter.ts
  packages/att/src/apis/comic.ts
  packages/att/src/apis/content.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/thirdParty.ts
  packages/att/src/apis/types/appManage.d.ts
  packages/att/src/apis/types/appNotice.d.ts
  packages/att/src/apis/types/appPageConfig.d.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/apis/types/chapter.d.ts
  packages/att/src/apis/types/comic.d.ts
  packages/att/src/apis/types/content.d.ts
  packages/att/src/apis/types/dictionary.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/thirdParty.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatSchema.ts
  packages/att/src/generateTypes.ts
Due: admin_jon

refactor(admin): 修复漫画分类接口返回类型并调整漫画 DTO验证规则
  packages/admin/src/apis/types/comic.d.ts
  packages/att/src/generateTypes.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
Due: admin_jon, server_jon

feat(admin): 添加漫画内容删除功能并优化上传组件
  packages/admin/src/apis/content.ts
  packages/admin/src/apis/types/content.d.ts
  packages/admin/src/apis/types/upload.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/server/public/files/work/comic/1/1/446.png
Due: admin_jon, server_jon

refactor(admin): 优化数据结构和接口返回值
  packages/admin/src/apis/appNotice.ts
  packages/admin/src/apis/content.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/types/appNotice.d.ts
  packages/admin/src/apis/types/content.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/content.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/app/src/apis/appManage.ts
  packages/app/src/apis/types/appManage.d.ts
  packages/app/src/apis/types/upload.d.ts
  packages/app/src/apis/upload.ts
  packages/app/src/stores/modules/system.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/basic/service/file.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/content.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/content/dto/content.dto.ts
  packages/server/src/service/contentMgmt/comic/content.service.ts
  packages/utils/src/generateRandomNumber.ts
  packages/utils/src/index.ts
Due: admin_jon, server_jon
