Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat: 调整eslint配置
  eslint.config.mjs
Due: none

feat: 修复错误
  eslint.config.mjs
  packages/admin/src/components/es-checkbox/es-checkbox.vue
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/marketing/clientSystemConfig/clientSystemConfig.vue
  packages/admin/src/views/marketing/clientSystemConfig/shared.ts
  packages/admin/src/views/systemMgmt/dataDictionary/dataDictionaryPage.vue
  packages/server/package.json
  packages/server/prisma/schema/AdminLog.prisma
  packages/server/prisma/schema/AdminUser.prisma
  packages/server/prisma/schema/ClientSystemConfig.prisma
  packages/server/prisma/schema/ClientUser.prisma
  packages/server/prisma/schema/Content.prisma
  packages/server/prisma/schema/FunPlugin.prisma
  packages/server/prisma/schema/Main.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/clientSystemConfig/dto/clientSystemConfig.dto.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.service.ts
Due: admin_jon, server_jon

feat: 修复错误
  packages/admin/src/apis/author.d.ts
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/clientManage.d.ts
  packages/admin/src/apis/dictionary.d.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/logs.d.ts
  packages/admin/src/apis/user.d.ts
  packages/admin/src/components/es-checkbox/es-checkbox.vue
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/authorsMgmtPage.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/classifyMgmtPage.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/admin/src/views/marketing/clientSystemConfig/shared.ts
  packages/server/prisma/schema/Content.prisma
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
Due: admin_jon, server_jon

feat: 更新mit文件
  LICENSE
Due: none

feat: init
  config/config.project.json
  eslint.config.mjs
  packages/att/src/config.ts
  packages/server/scripts/auxiliaryPacking.js
  packages/server/scripts/clientPackage.js
  packages/server/scripts/index.js
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/basic/service/decorator.service.ts
  packages/server/src/configuration.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/modules/admin/clientSystemConfig/clientSystemConfig.controller.ts
  packages/server/src/modules/admin/common/upload/upload.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/category/categoru.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary-items.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/client/clientManage/clientManage.controller.ts
  packages/server/src/modules/client/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/client/funPlugin/funPlugin.service.ts
  packages/server/src/prisma/index.ts
Due: server_jon

feat: init
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-modal-form/es-modal-form.vue
  packages/admin/src/typings/auto-import.d.ts
Due: admin_jon

feat: 细节调整
  eslint.config.mjs
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/authorsMgmtPage.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/marketing/funPlugin/funPluginPage.vue
  packages/admin/src/views/marketing/funPlugin/shared.ts
Due: admin_jon

feat: 细节调整
  packages/admin/src/components/es-form/es-form.vue
Due: admin_jon

feat: 调整att
  packages/att/src/apis/author.d.ts
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.d.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.d.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/clientManage.d.ts
  packages/att/src/apis/clientManage.ts
  packages/att/src/apis/dictionary.d.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.d.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.d.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/upload.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.d.ts
  packages/att/src/apis/user.ts
Due: none

feat: 调整打包配置
  packages/server/scripts/auxiliaryPacking.js
Due: server_jon

feat: server:内容分类模块调整
  package.json
  packages/admin/src/components.d.ts
  packages/server/prisma/schema/Content.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/modules/admin/contentMgmt/category/categoru.controller.ts
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
  packages/server/src/prisma/utils/errorMessage.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: att:修复类型导入缺失
  eslint.config.mjs
  package.json
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/clientManage.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/components.d.ts
  packages/admin/src/components/es-toolbar/es-toolbar.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/classifyMgmtPage.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/att/src/formatApiTree.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat: att:内容分类
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/components.d.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/hooks/useRequest.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/classifyMgmtPage.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/shared.ts
  packages/admin/src/views/marketing/funPlugin/shared.ts
  packages/server/prisma/schema/Content.prisma
  packages/server/src/modules/admin/contentMgmt/category/categoru.controller.ts
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
  packages/server/src/modules/internal/log/log.controller.ts
  packages/server/src/utils/validate.ts
Due: admin_jon, server_jon

feat: admin:记住密码
  .gitignore
  .prettierrc
  packages/admin/src/hooks/useStorage.ts
  packages/admin/src/views/contentMgmt/authorsMgmt/authorsMgmtPage.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/classifyMgmtPage.vue
  packages/admin/src/views/login/loginPage.vue
  packages/admin/src/views/marketing/clientSystemConfig/clientSystemConfig.vue
  packages/admin/vite/build.ts
  packages/server/package.json
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
  packages/utils/src/index.ts
  packages/utils/src/isJson.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 大变动
  packages/client/src/static/tabBar/bookshelf-active.png
  packages/client/src/static/tabBar/bookshelf.png
  packages/client/src/static/tabBar/home-active.png
  packages/client/src/static/tabBar/home.png
  packages/client/src/static/tabBar/news-active.png
  packages/client/src/static/tabBar/news.png
  packages/client/src/static/tabBar/novel-active.png
  packages/client/src/static/tabBar/novel.png
  packages/client/src/static/tabBar/portrait-active.png
  packages/client/src/static/tabBar/portrait.png
  packages/client/src/static/tabBar/profile-active.png
  packages/client/src/static/tabBar/profile.png
  packages/client/src/static/tabBar/serve-active.png
  packages/client/src/static/tabBar/serve.png
Due: client_jon

feat: 大变动
  packages/client/package.json
  packages/client/src/App.vue
  packages/client/src/apis/collect.ts
  packages/client/src/apis/member.ts
  packages/client/src/apis/types/collect.d.ts
  packages/client/src/apis/types/member.d.ts
  packages/client/src/components/es-list/es-list.vue
  packages/client/src/components/es-list/types.ts
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/components/es-text/types.ts
  packages/client/src/core/launch.ts
  packages/client/src/pages.json
  packages/client/src/pages/login/index.vue
  packages/client/src/pages/tabBar/book-shelf/index.vue
  packages/client/src/pages/tabBar/novel/index.vue
  packages/client/src/pages/tabBar/portrait/index.vue
  packages/client/src/pages/tabBar/profile/index.vue
  packages/client/src/pages/tabBar/profile/profile.vue
  packages/client/src/stores/modules/system.ts
  packages/client/src/stores/modules/user.ts
  packages/client/src/utils/request/interceptor.ts
  packages/client/stats.html
  pnpm-lock.yaml
Due: client_jon

feat: 提出无用组件
  packages/client/src/components/es-form/es-form.vue
  packages/client/src/components/es-form/types.ts
  packages/client/src/components/es-input-fixed/es-input-fixed.vue
  packages/client/src/components/es-loading/es-loading.vue
  packages/client/src/components/es-location/es-location.vue
  packages/client/src/components/es-menu/es-menu.vue
  packages/client/src/components/es-picker/es-picker.vue
  packages/client/src/pages/tabBar/book-shelf/index.vue
  packages/client/src/pages/tabBar/home/index.vue
  packages/client/stats.html
Due: client_jon

feat: 提出无用组件
  packages/client/src/components/es-loading/es-loading.vue
  packages/client/src/core/bootstrap.ts
  packages/client/src/hooks/form/dataDict.ts
  packages/client/src/hooks/form/options.ts
  packages/client/src/hooks/form/parseIdCard.ts
  packages/client/src/hooks/form/rules.ts
  packages/client/src/hooks/useFormTools.ts
  packages/client/src/hooks/useQuery.ts
  packages/client/src/types/auto-import.d.ts
Due: client_jon

feat: 提出无用组件
  packages/client/src/components/es-loading/es-loading.vue
Due: client_jon

feat: 提出无用组件
  eslint.config.mjs
Due: none

feat: 大变动
  packages/client/src/apis/work.ts
  packages/client/src/components/es-icons/es-icons.json
  packages/client/src/components/es-loading/es-loading.vue
  packages/client/src/components/es-nav-bar/es-nav-bar.vue
  packages/client/src/pages.json
  packages/client/src/pages/login/index.vue
  packages/client/src/pages/manga-detail/index.vue
  packages/client/src/pages/tabBar/book-shelf/index.vue
  packages/client/src/static/icons/icon-mapping.ts
  packages/client/src/utils/request/interceptor.ts
  packages/client/src/utils/request/request.ts
Due: client_jon

feat: 优化
  packages/client/src/apis/work.ts
  packages/client/src/components/es-text/es-text.vue
  packages/client/src/pages.json
  packages/client/src/pages/manga-detail/index.vue
  packages/client/src/pages/word-detail/index.vue
  packages/client/src/utils/request/interceptor.ts
Due: client_jon

feat: att优化
  packages/att/api.config.js
  packages/att/src/apis/author.ts
  packages/att/src/apis/captcha.ts
  packages/att/src/apis/category.ts
  packages/att/src/apis/clientManage.ts
  packages/att/src/apis/dictionary.ts
  packages/att/src/apis/funPlugin.ts
  packages/att/src/apis/logs.ts
  packages/att/src/apis/types/author.d.ts
  packages/att/src/apis/types/captcha.d.ts
  packages/att/src/apis/types/category.d.ts
  packages/att/src/apis/types/clientManage.d.ts
  packages/att/src/apis/types/dictionary.d.ts
  packages/att/src/apis/types/funPlugin.d.ts
  packages/att/src/apis/types/logs.d.ts
  packages/att/src/apis/types/upload.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/types/v3.d.ts
  packages/att/src/apis/upload.ts
  packages/att/src/apis/user.ts
  packages/att/src/apis/v3.ts
  packages/att/src/formatApiTree.ts
  packages/att/src/formatSchema.ts
  packages/client/api.config.js
  packages/client/src/apis/collect.ts
  packages/client/src/apis/h5.ts
  packages/client/src/apis/member.ts
  packages/client/src/apis/types/collect.d.ts
  packages/client/src/apis/types/h5.d.ts
  packages/client/src/apis/types/member.d.ts
  packages/client/src/apis/types/v3.d.ts
  packages/client/src/apis/v3.ts
  packages/client/src/pages/register/index.vue
  packages/client/src/stores/modules/user.ts
  packages/client/src/types/global.d.ts
  packages/types/src/index.d.ts
Due: client_jon

feat: att优化
  packages/att/src/apis/2020.ts
  packages/att/src/apis/appVersion.ts
  packages/att/src/apis/collect.ts
  packages/att/src/apis/h5.ts
  packages/att/src/apis/member.ts
  packages/att/src/apis/types/2020.d.ts
  packages/att/src/apis/types/appVersion.d.ts
  packages/att/src/apis/types/collect.d.ts
  packages/att/src/apis/types/h5.d.ts
  packages/att/src/apis/types/member.d.ts
  packages/att/src/apis/types/v3.d.ts
  packages/att/src/apis/v3.ts
  packages/client/src/apis/2020.ts
  packages/client/src/apis/appVersion.ts
  packages/client/src/apis/collect.ts
  packages/client/src/apis/h5.ts
  packages/client/src/apis/member.ts
  packages/client/src/apis/types/2020.d.ts
  packages/client/src/apis/types/appVersion.d.ts
  packages/client/src/apis/types/collect.d.ts
  packages/client/src/apis/types/h5.d.ts
  packages/client/src/apis/types/member.d.ts
  packages/client/src/apis/types/v3.d.ts
  packages/client/src/apis/v3.ts
Due: client_jon

feat: att优化
  packages/att/src/apis/2020.ts
  packages/att/src/apis/appVersion.ts
  packages/att/src/apis/collect.ts
  packages/att/src/apis/h5.ts
  packages/att/src/apis/member.ts
  packages/att/src/apis/types/2020.d.ts
  packages/att/src/apis/types/appVersion.d.ts
  packages/att/src/apis/types/collect.d.ts
  packages/att/src/apis/types/h5.d.ts
  packages/att/src/apis/types/member.d.ts
  packages/att/src/apis/types/v3.d.ts
  packages/att/src/apis/v3.ts
  packages/att/src/formatApiTree.ts
  packages/client/src/apis/appVersion.ts
  packages/client/src/apis/collect.ts
  packages/client/src/apis/h5.ts
  packages/client/src/apis/member.ts
  packages/client/src/apis/types/appVersion.d.ts
  packages/client/src/apis/types/collect.d.ts
  packages/client/src/apis/types/h5.d.ts
  packages/client/src/apis/types/member.d.ts
  packages/client/src/apis/types/v3.d.ts
  packages/client/src/apis/v3.ts
  packages/client/src/pages/tabBar/book-shelf/index.vue
  packages/client/src/stores/modules/user.ts
  packages/client/tsconfig.json
Due: client_jon

feat: att优化
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/manifest.json
  packages/client/src/pages/tabBar/book-shelf/index.vue
Due: client_jon

feat: att优化
  packages/client/src/components/libs/hooks/useRouter.ts
Due: client_jon

feat: 大变动
  packages/client/package.json
  packages/client/src/components/es-nav-bar/es-nav-bar.vue
  packages/client/src/components/es-tabs/es-tabs.vue
  packages/client/src/components/libs/hooks/useRect.ts
  packages/client/src/components/libs/hooks/useRouter.ts
  packages/client/src/components/libs/types/index.ts
  packages/client/src/main.ts
  packages/client/src/pages/login/index.vue
  packages/client/src/pages/register/index.vue
  packages/client/src/pages/word-detail/index.vue
  packages/client/src/stores/modules/user.ts
  packages/client/src/utils/request/interceptor.ts
  packages/client/src/utils/request/types.ts
  packages/client/stats.html
  packages/types/src/index.d.ts
  pnpm-lock.yaml
Due: client_jon

feat: 大变动
  packages/server/package.json
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/common/upload/upload.service.ts
  packages/server/src/modules/admin/funPlugin/dto/funPlugin.dto.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/admin/funPlugin/funPlugin.service.ts
  packages/server/src/modules/client/funPlugin/funPlugin.controller.ts
  packages/server/src/modules/client/funPlugin/funPlugin.service.ts
  packages/server/src/modules/internal/authentication/jwt.service.ts
  packages/server/src/modules/internal/config/config.service.ts
  packages/server/src/modules/internal/log/log.service.ts
  packages/server/src/prisma/utils/errorMessage.ts
  packages/server/src/strategy/foo.ts
  packages/server/src/strategy/jwt.strategy.ts
  packages/server/src/typings/config/prisma.ts
  packages/server/src/typings/service/base.service.ts
  pnpm-lock.yaml
Due: server_jon

feat: 大变动
  packages/client/src/apis/collect.ts
  packages/client/src/apis/config.ts
  packages/client/src/apis/member.ts
  packages/client/src/apis/types/collect.d.ts
  packages/client/src/apis/types/config.d.ts
  packages/client/src/apis/types/member.d.ts
  packages/client/src/components/es-page/es-page.vue
  packages/client/src/components/es-page/types.ts
  packages/client/src/components/es-tag/es-tag.vue
  packages/client/src/components/es-tag/types.ts
  packages/client/src/pages/word-detail/index.vue
Due: client_jon

feat: 大变动
  packages/client/.eslintrc-auto-import.json
  packages/client/package.json
  packages/client/src/config/basic.config.ts
  packages/client/src/hooks/useCookies.ts
  packages/client/src/main.ts
  packages/client/src/pages/tabBar/home/index.vue
  packages/client/src/types/auto-import.d.ts
  packages/client/src/utils/request/interceptor.ts
  packages/client/src/utils/request/request.ts
  packages/client/stats.html
  packages/client/vite.config.ts
  packages/server/src/config/config.default.ts
  packages/server/src/config/modules/jwt.ts
  packages/server/src/configuration.ts
  packages/server/src/strategy/foo.ts
  pnpm-lock.yaml
Due: client_jon, server_jon

feat: 大变动
  packages/client/src/hooks/useCookies.ts
  packages/client/src/pages/tabBar/home/index.vue
  packages/client/stats.html
  packages/server/package.json
  packages/server/src/config/config.default.ts
  packages/server/src/strategy/foo.ts
  pnpm-lock.yaml
Due: client_jon, server_jon

feat: server:token调整
  packages/server/package.json
  packages/server/src/basic/service/jwt.service.ts
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/core/autoload.core.ts
  packages/server/src/strategy/foo.ts
  pnpm-lock.yaml
Due: server_jon

feat: server:鉴权调整
  .eslintrc-auto-import.json
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/utils/request/index.ts
  packages/server/package.json
  packages/server/src/basic/service/jwt.service.ts
  packages/server/src/config/config.default.ts
  packages/server/src/configuration.ts
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/guard/auth.guard.ts
  packages/server/src/middleware/jwt.middleware.ts
  packages/server/src/modules/admin/common/upload/upload.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
  packages/server/src/modules/internal/authentication/captcha.service.ts
  packages/server/src/strategy/foo.ts
  packages/server/src/strategy/jwt.strategy.ts
  packages/server/src/utils/requestSource.ts
Due: admin_jon, server_jon

feat: server:鉴权调整
  packages/admin/src/apis/author.ts
  packages/admin/src/apis/captcha.ts
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/clientManage.ts
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/funPlugin.ts
  packages/admin/src/apis/logs.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/apis/types/logs.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/upload.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/config/auth.ts
  packages/admin/src/router/guard.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/views/login/loginPage.vue
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/admin/user/user.service.ts
Due: admin_jon, server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
