Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

refactor(admin): 重构管理员登录和用户管理接口
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/login/index.vue
  packages/att/src/apis/auth.ts
  packages/att/src/apis/types/auth.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatApiTree.ts
  packages/att/src/generateTypes.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: admin_jon

refactor(server-nestjs):移除日志相关代码
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/log.decorator.ts
  packages/server-nestjs/src/common/factories/logger.factory.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/services/logger.service.ts
  packages/server-nestjs/src/config/logger.config.ts
  packages/server-nestjs/src/examples/logger-usage.example.ts
  packages/server-nestjs/src/global/global.module.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/auth/guards/admin-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/client/auth/client-auth.module.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 添加 API 全局前缀并更新 Swagger 文档
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/nestjs/swagger.ts
Due: none

refactor(server-nestjs):优化数据格式校验和日志输出
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/validate.decorator.ts
  packages/server-nestjs/src/common/dto/page.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
Due: none

refactor(auth): 移除认证模块并更新登录逻辑
  packages/admin/package.json
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/views/login/index.vue
  packages/server-nestjs/.env
  packages/server-nestjs/.env.example
  packages/server-nestjs/JWT_AUTH_README.md
  packages/server-nestjs/WINSTON_LOGGER_README.md
  packages/server-nestjs/src/common/decorators/current-user.decorator.ts
  packages/server-nestjs/src/common/decorators/public.decorator.ts
  packages/server-nestjs/src/common/decorators/validate.decorator.ts
  packages/server-nestjs/src/common/guards/base-jwt-auth.guard.ts
  packages/server-nestjs/src/common/services/auth.service.base.ts
  packages/server-nestjs/src/common/services/captcha.service.ts
  packages/server-nestjs/src/common/strategies/jwt.strategy.ts
  packages/server-nestjs/src/config/jwt.config.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/auth/admin-auth.controller.ts
  packages/server-nestjs/src/modules/admin/auth/admin-auth.module.ts
  packages/server-nestjs/src/modules/admin/auth/admin-auth.service.ts
  packages/server-nestjs/src/modules/admin/auth/guards/admin-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/admin/auth/strategies/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/client/auth/client-auth.controller.ts
  packages/server-nestjs/src/modules/client/auth/client-auth.module.ts
  packages/server-nestjs/src/modules/client/auth/client-auth.service.ts
  packages/server-nestjs/src/modules/client/auth/guards/client-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/client/auth/strategies/client-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  pnpm-lock.yaml
Due: admin_jon

feat(server-nestjs): 实现 JWT 鉴权服务
  config/config.project.json
  packages/server-nestjs/.env
  packages/server-nestjs/docs/jwt-authentication.md
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/current-user.decorator.ts
  packages/server-nestjs/src/common/decorators/public.decorator.ts
  packages/server-nestjs/src/config/jwt.config.ts
  packages/server-nestjs/src/decorators/public.decorator.ts
  packages/server-nestjs/src/global/global.module.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.service.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  packages/server-nestjs/src/modules/client/users/user.controller.ts
  prisma/schema.prisma
Due: none

feat(admin): 实现管理员用户模块功能
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/login/index.vue
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatSchema.ts
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/dto/id.dto.ts
  packages/server-nestjs/src/common/utils/crypto.util.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/users/dto/refresh-token.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/update-password.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/update-user.dto.ts
  packages/server-nestjs/src/modules/admin/users/dto/user-register.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
Due: admin_jon

feat(auth): 实现 JWT 黑名单机制并更新认证逻辑
  packages/admin/package.json
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/config/index.ts
  packages/admin/src/stores/modules/system.ts
  packages/admin/src/views/login/index.vue
  packages/server-nestjs/.env.development
  packages/server-nestjs/docs/jwt-authentication.md
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/utils/crypto.util.ts
  packages/server-nestjs/src/global/global.module.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.service.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  packages/utils/package.json
  packages/utils/src/getProjectConfig.ts
  packages/utils/src/index.ts
  pnpm-lock.yaml
Due: admin_jon

feat(security): 实现 RSA 加密解密功能并添加相关接口
  packages/admin/src/apis/admin.ts
  packages/admin/src/apis/login.ts
  packages/admin/src/apis/types/admin.d.ts
  packages/admin/src/apis/types/login.d.ts
  packages/server-nestjs/rsa/admin_private.key
  packages/server-nestjs/rsa/admin_public.key
  packages/server-nestjs/rsa/client_private.key
  packages/server-nestjs/rsa/client_public.key
  packages/server-nestjs/rsa/login_private.key
  packages/server-nestjs/rsa/login_public.key
  packages/server-nestjs/src/common/enum/rsa.ts
  packages/server-nestjs/src/common/services/crypto.service.ts
  packages/server-nestjs/src/common/services/rsa.service.ts
  packages/server-nestjs/src/global/services/jwt-blacklist.service.ts
  packages/server-nestjs/src/modules/admin/auth/auth.controller.ts
  packages/server-nestjs/src/modules/admin/auth/dto/rsa-public-key.dto.ts
  packages/server-nestjs/src/modules/client/auth/auth.controller.ts
Due: admin_jon

refactor(admin): 重构管理员登录相关接口和加密逻辑
  packages/admin/package.json
  packages/admin/src/apis/auth.ts
  packages/admin/src/apis/types/auth.d.ts
  packages/admin/src/apis/types/user.d.ts
  packages/admin/src/apis/user.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/views/login/index.vue
  packages/att/src/apis/auth.ts
  packages/att/src/apis/types/auth.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatSchema.ts
  packages/att/src/generateTypes.ts
  packages/server-nestjs/package.json
  packages/server-nestjs/src/common/decorators/api-doc.decorator.ts
  packages/server-nestjs/src/common/services/rsa.service.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.service.ts
  pnpm-lock.yaml
Due: admin_jon

refactor(admin): 重构管理员相关 API 接口和类型定义- 更新了多个 API 接口的类型定义，移除了不必要的密码字段 - 重构了登录、登出等接口的请求和响应类型 - 优化了 API树格式化逻辑 -调整了公共装饰器的导入路径 - 修复了 JWT黑名单检查逻辑的代码格式问题
  packages/admin/src/apis/user.ts
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/types/components.d.ts
  packages/att/src/apis/auth.ts
  packages/att/src/apis/types/auth.d.ts
  packages/att/src/apis/types/user.d.ts
  packages/att/src/apis/user.ts
  packages/att/src/formatApiTree.ts
  packages/att/src/generateTypes.ts
  packages/server-nestjs/src/decorators/public.decorator.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt-auth.guard.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt-auth.guard.ts
Due: admin_jon

refactor(server-nestjs):优化管理员 JWT 验证和用户登出逻辑
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
Due: none

style(server-nestjs): 移除 AdminJwtAuthGuard 中的冗余空行
  packages/server-nestjs/src/modules/admin/auth/admin-jwt-auth.guard.ts
Due: none

refactor(admin): 优化代码结构和功能
  packages/admin/src/stores/modules/user.ts
  packages/admin/src/utils/request/index.ts
  packages/admin/src/utils/request/request.ts
  packages/admin/src/views/systemMgmt/profile/index.vue
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/api-doc.decorator.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
Due: admin_jon

refactor(admin): 优化管理员认证和 HTTP 请求处理
  packages/admin/src/types/components.d.ts
  packages/admin/src/utils/request/index.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
Due: admin_jon

refactor(admin): 优化管理员认证和 HTTP 请求处理
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.service.ts
  packages/server-nestjs/src/modules/admin/auth/admin-jwt.strategy.ts
  packages/server-nestjs/src/modules/client/auth/client-jwt.strategy.ts
Due: none

refactor(server-nestjs):调整 JWT 认证守卫的注册方式
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
Due: none

refactor(admin): 重构 admin模块
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/auth/auth.module.ts
  packages/server-nestjs/src/modules/admin/users/user.module.ts
Due: none

feat(server): 实现日志模块并重构认证逻辑
  packages/server-nestjs/.env.example
  packages/server-nestjs/README-logger.md
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/log.decorator.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/common/module/logger.module.ts
  packages/server-nestjs/src/common/services/logger-factory.service.ts
  packages/server-nestjs/src/common/services/logger.service.ts
  packages/server-nestjs/src/config/logger.config.ts
  packages/server-nestjs/src/examples/logger-usage.example.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/logger/admin-logger.module.ts
  packages/server-nestjs/src/modules/client/auth/auth.module.ts
  packages/server-nestjs/src/modules/client/client.module.ts
  packages/server-nestjs/src/modules/client/logger/client-logger.module.ts
  packages/server-nestjs/src/modules/client/users/user.module.ts
  pnpm-lock.yaml
Due: none

build(server-nestjs): 更新项目名称为 @akaiito/server-nestjs
  packages/server-nestjs/package.json
Due: none

build(server-nestjs): 更新项目名称为 @akaiito/server-nestjs
  packages/server-nestjs/.env.upload.example
  packages/server-nestjs/README-upload.md
  packages/server-nestjs/README.md
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/upload.decorator.ts
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/common/filters/upload-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/upload-logging.interceptor.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/examples/upload-example.controller.ts
  packages/server-nestjs/src/modules/shared/shared.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  pnpm-lock.yaml
Due: none

docs(server-nestjs): 添加文件上传功能使用指南
  packages/server-nestjs/.env
  packages/server-nestjs/.env.development
  packages/server-nestjs/.env.example
  packages/server-nestjs/.env.production
  packages/server-nestjs/.env.upload.example
  packages/server-nestjs/docs/upload-usage-examples.md
Due: none

refactor(server-nestjs):重构 JWT 配置服务
  packages/server-nestjs/src/config/jwt.config.ts
Due: none

feat(server-nestjs): 实现上传文件的分层目录结构- 根据日期、场景和文件类型创建目录结构 - 新增 scene 参数用于区分不同业务场景 - 实现文件类型的自动分类 - 更新 API 文档和示例代码 - 添加单元测试验证目录结构
  packages/server-nestjs/README-upload.md
  packages/server-nestjs/docs/upload-scene-examples.md
  packages/server-nestjs/src/examples/upload-example.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  packages/server-nestjs/test/upload-directory-structure.test.ts
Due: none

feat(server-nestjs): 实现上传文件的分层目录结构- 根据日期、场景和文件类型创建目录结构 - 新增 scene 参数用于区分不同业务场景 - 实现文件类型的自动分类 - 更新 API 文档和示例代码 - 添加单元测试验证目录结构
  packages/server-nestjs/.env
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/upload/admin-upload.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
Due: none

refactor(server-nestjs):重构文件上传功能
  packages/server-nestjs/.env
  packages/server-nestjs/src/common/decorators/upload.decorator.ts
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/examples/upload-example.controller.ts
  packages/server-nestjs/src/modules/admin/upload/admin-upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  packages/server-nestjs/test/upload-directory-structure.test.ts
Due: none

refactor(upload): 移除文件上传中的 uploaderId 参数
  packages/server-nestjs/src/common/decorators/upload.decorator.ts
  packages/server-nestjs/src/examples/upload-example.controller.ts
  packages/server-nestjs/src/modules/admin/upload/admin-upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
Due: none

refactor(upload): 移除文件上传中的 uploaderId 参数
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
Due: none

fix(server-nestjs): 优化文件上传模块的错误处理和性能
  packages/server-nestjs/README-upload-fixes.md
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/modules/admin/upload/admin-upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.spec.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  packages/server-nestjs/uploads/2025/06/05/shared/image/221c0ef4-84b8-484e-b9ef-5fc52986d0c8_1749124742787.jpg
  packages/server-nestjs/uploads/2025/06/05/shared/image/35768df4-82e0-4cf8-af87-addc36b4b07e_1749124649550.jpg
Due: none

refactor(server-nestjs):重构服务端上传模块并支持 Fastify
  packages/server-nestjs/.env
  packages/server-nestjs/README-upload-fixes.md
  packages/server-nestjs/README-upload.md
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/decorators/upload.decorator.ts
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/filters/upload-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/upload-logging.interceptor.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/examples/upload-example.controller.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/upload/admin-upload.controller.ts
  packages/server-nestjs/src/modules/shared/shared.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.spec.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  pnpm-lock.yaml
Due: none

refactor(server-nestjs):重构异常处理并支持 Fastify- 重构 HttpExceptionFilter 以支持 Fastify 平台 - 修改 LoggingInterceptor 中的请求路径获取方式 - 更新项目依赖，移除 express 相关内容，添加 fastify - 调整 UserDTO 中用户名最小长度限制
  packages/server-nestjs/package.json
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/modules/admin/users/dto/user.dto.ts
  pnpm-lock.yaml
Due: none

feat(auth): 添加认证控制器并移除调试日志
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/modules/admin/auth/auth.module.ts
Due: none

feat(server-nestjs): 添加文件上传功能并优化请求处理
  packages/server-nestjs/.env.upload.example
  packages/server-nestjs/docs/upload-scene-examples.md
  packages/server-nestjs/docs/upload-usage-examples.md
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/global.d.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/shared/upload/FASTIFY-MIGRATION.md
  packages/server-nestjs/src/modules/shared/upload/README.md
  packages/server-nestjs/src/modules/shared/upload/dto/upload.dto.ts
  packages/server-nestjs/src/modules/shared/upload/fastify-upload.config.ts
  packages/server-nestjs/src/modules/shared/upload/fastify-upload.example.ts
  packages/server-nestjs/src/modules/shared/upload/file-validation.service.ts
  packages/server-nestjs/src/modules/shared/upload/storage.service.ts
  packages/server-nestjs/src/modules/shared/upload/upload.config.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  pnpm-lock.yaml
Due: none

refactor(server-nestjs):优化错误处理和日志记录- 调整拦截器顺序，确保日志拦截器优先级最高 - 改进错误处理，支持 ValidationPipe 的详细错误信息 - 在异常过滤器中添加完整错误响应，供日志拦截器使用 - 优化日志记录，包括完整的错误响应信息- 修复文件上传拦截器的使用方式
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/interceptors/logging.interceptor.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
Due: none

refactor(server-nestjs):移除 Fastify 文件上传相关代码
  package.json
  packages/server-nestjs/.env.upload.example
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/shared/upload/FASTIFY-MIGRATION.md
  packages/server-nestjs/src/modules/shared/upload/README.md
  packages/server-nestjs/src/modules/shared/upload/dto/upload.dto.ts
  packages/server-nestjs/src/modules/shared/upload/fastify-upload.config.ts
  packages/server-nestjs/src/modules/shared/upload/fastify-upload.example.ts
  packages/server-nestjs/src/modules/shared/upload/file-validation.service.ts
  packages/server-nestjs/src/modules/shared/upload/storage.service.ts
  packages/server-nestjs/src/modules/shared/upload/upload.config.ts
  packages/server-nestjs/src/modules/shared/upload/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload/upload.service.ts
  pnpm-lock.yaml
Due: admin_jon, client_jon, server_jon

feat(server-nestjs): 添加文件上传功能
  .gitignore
  packages/server-nestjs/.env.upload.example
  packages/server-nestjs/docs/upload-module.md
  packages/server-nestjs/package.json
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/shared/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload.service.ts
  packages/server-nestjs/uploads/2025/06/05/shared/image/221c0ef4-84b8-484e-b9ef-5fc52986d0c8_1749124742787.jpg
  packages/server-nestjs/uploads/2025/06/05/shared/image/35768df4-82e0-4cf8-af87-addc36b4b07e_1749124649550.jpg
  pnpm-lock.yaml
Due: none

feat(server-nestjs): 重构文件上传功能
  packages/server-nestjs/.env
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/modules/admin/admin.module.ts
  packages/server-nestjs/src/modules/admin/upload/upload.controller.ts
  packages/server-nestjs/src/modules/admin/upload/upload.module.ts
  packages/server-nestjs/src/modules/shared/upload.controller.ts
  packages/server-nestjs/src/modules/shared/upload.module.ts
Due: none

feat(upload): 优化文件上传功能并支持多类型文件
  packages/server-nestjs/.env
  packages/server-nestjs/src/app.module.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/main.ts
  packages/server-nestjs/src/nestjs/multipart.ts
Due: none

feat(upload): 优化文件上传功能并添加新特性
  packages/server-nestjs/src/common/decorators/api-doc.decorator.ts
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/common/filters/http-exception.filter.ts
  packages/server-nestjs/src/common/services/upload.service.ts
  packages/server-nestjs/src/config/upload.config.ts
  packages/server-nestjs/src/modules/admin/upload/upload.controller.ts
  packages/server-nestjs/src/modules/admin/users/user.controller.ts
  packages/server-nestjs/src/modules/client/auth/auth.controller.ts
Due: none

refactor(upload): 优化上传模块相关代码
  packages/server-nestjs/src/common/dto/upload.dto.ts
  packages/server-nestjs/src/modules/admin/upload/upload.controller.ts
Due: none

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
