Repository oneStrike/akaiito: changes, and which GitLab CI jobs are due for each by the changed paths.
All: admin_jon, client_jon, server_jon

admin_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

client_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

server_jon:
  before_script:
  - pnpm install --filter @akaiito/utils --frozen-lockfile && pnpm install --filter @akaiito/apifox-to-typescript --frozen-lockfile && pnpm run build:pt
  ...

feat: 解析服务
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/server/prisma/schema/admin/app_config.prisma
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.service.ts
Due: admin_jon, server_jon

feat: 解析服务
  packages/server/src/decorator/userinfo.decorator.ts
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/admin/appManage/appConfig/appConfig.controller.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/modules/admin/appManage/appPage/appPage.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/category/categoru.controller.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/requestLog/requestLog.controller.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.controller.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/app/appManage/appManage.controller.ts
  packages/server/src/modules/app/appManage/appManage.service.ts
  packages/server/src/modules/app/user/user.controller.ts
  packages/server/src/modules/common/upload/upload.controller.ts
  packages/server/src/modules/open/captcha/captcha.controller.ts
  packages/server/src/service/adminUser/user.service.ts
  packages/server/src/service/appMgmt/appConfig.service.ts
  packages/server/src/service/appMgmt/appNotice.service.ts
  packages/server/src/service/appMgmt/appPage.service.ts
  packages/server/src/service/appUser/user.service.ts
  packages/server/src/service/common/upload.service.ts
  packages/server/src/service/contentMgmt/author.service.ts
  packages/server/src/service/contentMgmt/category.service.ts
  packages/server/src/service/dataDictionary/dictionary-items.service.ts
  packages/server/src/service/dataDictionary/dictionary.service.ts
  packages/server/src/service/log/requestLog.service.ts
  packages/server/src/service/open/captcha.service.ts
  packages/server/src/service/thirdParty/libs/copy.service.ts
  packages/server/src/service/thirdParty/thirdParty.service.ts
Due: server_jon

feat: 解析服务
  packages/app/src/apis/appManage.ts
  packages/app/src/apis/funPlugin.ts
  packages/app/src/apis/types/appManage.d.ts
  packages/app/src/apis/upload.ts
  packages/app/src/apis/user.ts
  packages/app/src/core/launch.ts
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/stores/modules/system.ts
  packages/app/src/utils/index.ts
  packages/app/src/utils/request/interceptor.ts
  packages/app/vite.config.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/decorator/appRequestClient.decorator.ts
  packages/server/src/decorator/register.service.ts
  packages/server/src/enum/ctxAttr.ts
  packages/server/src/modules/app/appManage/appManage.controller.ts
Due: server_jon

feat: 解析服务
  packages/server/src/modules/app/appManage/appManage.controller.ts
Due: server_jon

feat: client改名app
  packages/app/.eslintrc-auto-import.json
  packages/app/package.json
  packages/app/src/components/es-button/es-button.vue
  packages/app/src/config/basic.config.ts
  packages/app/src/core/launch.ts
  packages/app/src/hooks/useEventBus.ts
  packages/app/src/pages/register/index.vue
  packages/app/src/pages/tabBar/book-shelf/index.vue
  packages/app/src/pages/tabBar/home/index.vue
  packages/app/src/pages/word-detail/index.vue
  packages/app/src/stores/modules/system.ts
  packages/app/src/types/auto-import.d.ts
  packages/app/vite.config.ts
  packages/server/src/basic/service/basic.service.ts
  pnpm-lock.yaml
Due: server_jon

feat: 数据库时间类型调整
  packages/server/prisma/schema/admin/admin_log.prisma
  packages/server/prisma/schema/admin/admin_user.prisma
  packages/server/prisma/schema/admin/app_config.prisma
  packages/server/prisma/schema/app/app_user.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/dictionary.prisma
  pnpm-lock.yaml
Due: server_jon

feat: apis
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/typings/auto-import.d.ts
  pnpm-lock.yaml
Due: admin_jon

feat: apis
  packages/admin/src/router/modules/contentMgmt.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/src/configuration.ts
  packages/server/src/decorator/register.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
Due: admin_jon, server_jon

feat: apis
  packages/admin/src/components/es-table/es-table.vue
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/prisma/schema/content/content.prisma
Due: admin_jon, server_jon

feat: 数据库时间类型调整
  packages/admin/src/components/es-modal/es-modal.vue
  packages/server/package.json
  packages/server/prisma/schema/admin/admin_log.prisma
  packages/server/prisma/schema/admin/admin_user.prisma
  packages/server/prisma/schema/admin/app_config.prisma
  packages/server/prisma/schema/app/app_user.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/dictionary.prisma
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 数据库时间类型调整
  packages/admin/src/components/es-modal/es-modal.vue
Due: admin_jon

feat: 数据库时间类型调整
  packages/admin/src/components/es-upload/es-upload.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
Due: admin_jon

feat: apis
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
Due: server_jon

feat: 数据库时间类型调整
  packages/server/prisma/schema/admin/sys_log.prisma
  packages/server/prisma/schema/admin/sys_user.prisma
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/src/filter/exception.filter.ts
  packages/server/src/middleware/report.middleware.ts
  packages/server/src/modules/admin/operateLog/dto/operateLog.dto.ts
  packages/server/src/modules/admin/operateLog/operateLog.controller.ts
  packages/server/src/service/adminUser/user.service.ts
  packages/server/src/service/log/operateLog.service.ts
Due: server_jon

feat: apis
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/seed.ts
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat: apis
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat: apis
  packages/server/prisma/schema/main.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/service/contentMgmt/comic.service.ts
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat: apis
  packages/server/src/service/contentMgmt/comic.service.ts
Due: server_jon

feat: apis
  packages/server/prisma/schema/content/content.prisma
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
Due: server_jon

feat: apis
  packages/server/src/basic/dto/basic.dto.ts
  packages/server/src/modules/admin/appManage/appConfig/appConfig.controller.ts
  packages/server/src/modules/admin/appManage/appConfig/dto/appConfig.dto.ts
  packages/server/src/modules/admin/appManage/appNotice/dto/notice.ts
  packages/server/src/modules/admin/appManage/appNotice/notice.controller.ts
  packages/server/src/modules/admin/appManage/appPage/appPage.controller.ts
  packages/server/src/modules/admin/appManage/appPage/dto/appPages.dto.ts
  packages/server/src/modules/admin/contentMgmt/author/author.controller.ts
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/modules/admin/contentMgmt/category/categoru.controller.ts
  packages/server/src/modules/admin/contentMgmt/category/dto/category.dto.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/modules/admin/operateLog/dto/operateLog.dto.ts
  packages/server/src/modules/admin/operateLog/operateLog.controller.ts
  packages/server/src/modules/admin/thirdParty/dto/thirdParty.dto.ts
  packages/server/src/modules/admin/thirdParty/thirdParty.controller.ts
  packages/server/src/modules/admin/user/dto/user.dto.ts
  packages/server/src/modules/admin/user/user.controller.ts
  packages/server/src/modules/app/user/dto/user.dto.ts
  packages/server/src/modules/app/user/user.controller.ts
  packages/server/src/service/adminUser/user.service.ts
  packages/server/src/service/appMgmt/appNotice.service.ts
  packages/server/src/service/appUser/user.service.ts
  packages/server/src/service/contentMgmt/comic.service.ts
  packages/server/src/service/dataDictionary/dictionary-items.service.ts
  packages/server/src/service/thirdParty/thirdParty.service.ts
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat: apis
  packages/server/prisma/schema/admin/sys_log.prisma
  packages/server/prisma/schema/admin/sys_user.prisma
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/prisma/schema/app/app_user.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/dictionary.prisma
Due: server_jon

feat: apis
  packages/server/src/prisma/index.ts
Due: server_jon

feat: apis
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
  packages/server/src/typings/prisma.d.ts
Due: server_jon

feat: apis
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/modules/admin/contentMgmt/comic/dto/comic.dto.ts
  packages/server/src/service/contentMgmt/comic.service.ts
Due: server_jon

feat: apis
  packages/server/src/modules/admin/contentMgmt/comic/comic.controller.ts
  packages/server/src/service/log/operateLog.service.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/server/src/service/contentMgmt/comic.service.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/admin/src/apis/comic.ts
  packages/admin/src/apis/thirdParty.ts
  packages/admin/src/apis/types/comic.d.ts
  packages/admin/src/apis/types/thirdParty.d.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/components/es-form/types.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/admin/src/views/systemMgmt/dataDict/shared.ts
  packages/server/src/prisma/index.ts
Due: admin_jon, server_jon

feat: 多对多删除逻辑
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
Due: admin_jon

feat: apis
  packages/admin/src/apis/dictionary.ts
  packages/admin/src/apis/types/dictionary.d.ts
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server/prisma/schema/dictionary.prisma
  packages/server/src/basic/service/basic.service.ts
  packages/server/src/modules/admin/dataDictionary/dictionary.controller.ts
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
  packages/server/src/service/dataDictionary/dictionary-items.service.ts
  packages/server/src/typings/prisma.d.ts
Due: admin_jon, server_jon

feat: 多对多删除逻辑
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/typings/auto-import.d.ts
  packages/admin/src/typings/components.d.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/index.vue
  packages/admin/vite/plugins/components.ts
  packages/admin/vite/plugins/import.ts
Due: admin_jon

feat: 多对多删除逻辑
  .eslintrc-auto-import.json
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/appMgmt/notice/shared.ts
  packages/admin/src/views/appMgmt/pageMgmt/index.vue
  packages/admin/src/views/appMgmt/systemConfig/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/index.vue
  packages/admin/src/views/contentMgmt/authorsMgmt/shared.ts
  packages/admin/src/views/contentMgmt/classifyMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/admin/src/views/login/index.vue
  packages/admin/src/views/systemMgmt/dataDict/index.vue
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/admin/src/views/systemMgmt/logMgmt/loginLog/index.vue
  packages/admin/src/views/systemMgmt/logMgmt/operationLog/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/index.vue
  packages/admin/src/views/systemMgmt/userMgmt/shared.ts
  packages/admin/vite/plugins/import.ts
Due: admin_jon

feat: 多对多删除逻辑
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  src/types/auto-import.d.ts
Due: admin_jon

feat: 多对多删除逻辑
  packages/admin/.eslintrc-auto-import.json
  packages/admin/src/types/auto-import.d.ts
  packages/admin/src/types/components.d.ts
  packages/server/.env
  packages/server/package.json
  packages/server/prisma/schema/main.prisma
  packages/server/src/prisma/extends/index.ts
  packages/server/src/prisma/extends/result.ts
  packages/server/src/prisma/index.ts
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 多对多删除逻辑
  packages/server/package.json
  packages/server/src/prisma/extends/index.ts
  packages/server/src/prisma/index.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/server/src/prisma/extends/result.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/admin/src/apis/category.ts
  packages/admin/src/apis/types/category.d.ts
  packages/admin/src/components/es-form/es-form.vue
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/appMgmt/notice/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/admin/src/views/systemMgmt/dataDict/record.vue
  packages/server/prisma/schema/main.prisma
  packages/server/src/modules/admin/dataDictionary/dto/dictionary.dto.ts
Due: admin_jon, server_jon

feat: 多对多删除逻辑
  packages/admin/src/hooks/useForm.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
Due: admin_jon

feat: apis
  packages/admin/src/types/components.d.ts
  packages/admin/src/views/contentMgmt/comicMgmt/index.vue
  packages/admin/src/views/contentMgmt/comicMgmt/shared.ts
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/content/permissions.prisma
  pnpm-lock.yaml
Due: admin_jon, server_jon

feat: 多对多删除逻辑
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/src/modules/admin/contentMgmt/author/dto/author.dto.ts
  packages/server/src/utils/validate.ts
Due: server_jon

feat: 多对多删除逻辑
  packages/server/.env
  packages/server/prisma/schema/admin/sys_log.prisma
  packages/server/prisma/schema/admin/sys_user.prisma
  packages/server/prisma/schema/app/app_config.prisma
  packages/server/prisma/schema/app/app_user.prisma
  packages/server/prisma/schema/content/author.prisma
  packages/server/prisma/schema/content/category.prisma
  packages/server/prisma/schema/content/content.prisma
  packages/server/prisma/schema/dictionary.prisma
  packages/server/prisma/schema/main.prisma
Due: server_jon

Path conditions:
  admin_jon: any of: packages/admin/**/*, .gitlab-ci.yml, Dockerfile, package.json
  client_jon: any of: packages/client/**/*, .gitlab-ci.yml, Dockerfile, package.json
  server_jon: any of: packages/server/**/*, .gitlab-ci.yml, Dockerfile, package.json
